@use "./abstracts" as *;
.blog {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    @include maxWidth($large) {
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
    }
    @include maxWidth($medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include maxWidth($small) {
      gap: 10px;
    }
  }
  &-article {
    max-width: calc(100% - 4%);
    margin: 0 auto;
    h2 {
      color: $primaryColor;
      font-size: 26px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

.page-title {
  &-entry {
    color: #fff;
  }
  &-breadcrumb {
    margin-top: 10px;
    .breadcrumb-list {
      .breadcrumb-item {
        a {
          color: #fff;
        }
        &::after {
          color: #fff;
        }
      }
    }
  }
}

.blog-default {
  &-item {
    border-radius: $border12;
    border: 1px solid $borderColor;
    box-shadow: $shadow;
  }
  &-thumbnail {
    position: relative;
    overflow: hidden;
    &:hover {
      .blog-default {
        &-image {
          img {
            transform: scale(1.08);
          }
        }
      }
    }
  }
  &-image {
    border-top-left-radius: $border12;
    border-top-right-radius: $border12;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      transform: scale(1);
      transition: transform ease-in-out 0.2s;
    }
  }
  &-link {
    position: absolute;
    inset: 0;
    z-index: 400;
  }
  &-info {
    @include flexbox(row, center, space-between, 15px);
    & {
      padding: 20px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 500;
    }
  }
  &-author {
    @include flexbox(row, center, space-between, 8px);
    &-avatar {
      @include square(30px);
      & {
        border-radius: 100rem;
      }
    }
    &-name {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
    }
  }
  &-comment {
    @include flexbox(row, center, center, 15px);
    &-icon {
      color: #fff;
      font-size: 20px;
      position: relative;
      i.fa {
        font-size: inherit;
      }
      &-count {
        @include square(15px);
        & {
          background-color: $primaryColor;
          border-radius: 100rem;
          font-size: 10px;
          text-align: center;
          font-weight: 500;
          position: absolute;
          right: -4px;
          top: -4px;
        }
      }
    }
  }
  &-content {
    padding: 20px;
    @include flexbox(column, stretch, flex-start, 10px);
    @include maxWidth($large) {
      gap: 6px;
    }
    @include maxWidth($small) {
      font-size: 14px;
      gap: 8px;
    }
    @include maxWidth($small) {
      padding: 15px;
      gap: 4px;
    }
  }
  &-date {
    @include flexbox(row, center, space-between, 20px);
    span {
      color: #a5a5a5;
      font-size: 16px;
      font-weight: 500;
      @include maxWidth($extra-large) {
        font-size: 14px;
      }
    }
    @include maxWidth(920px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
  &-title {
    h3 {
      color: $primaryColor;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      @include webkitBox(2);
      @include maxWidth($large) {
        line-height: 26px;
      }
      @include maxWidth($medium) {
        line-height: 28px;
      }
      @include maxWidth($small) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  &-short {
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
      @include webkitBox(3);
      @include maxWidth($large) {
        line-height: 22px;
      }
      @include maxWidth($medium) {
        line-height: 24px;
      }
      @include maxWidth($small) {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  &-button {
    display: block;
    padding: 20px;
    margin-top: -20px;
    span {
      color: $primaryColor;
      font-weight: 700;
      font-size: 18px;
    }
    @include maxWidth($large) {
      padding: 15px;
    }
    @include maxWidth($small) {
      padding-inline: 20px;
      span {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
