@use "./abstracts" as *;
// - CSS các section riêng trong Chai thuỷ tinh
@use "./section/main-cate/chai-thuy-tinh";
// - CSS tuỳ chỉnh
.chai-thuy-tinh-slideshow {
  margin-top: unset;
  margin-bottom: unset;
}
.tem-nhan-chai-ruou {
  margin-top: 20px;
}
.category-chai-thuy-tinh {
  margin-bottom: 20px;
  margin-top: unset;
}
.category-chai-thuy-tinh-product {
  margin-top: unset;
  margin-bottom: 20px;
}
.chai-thuy-tinh {
  &-question {
    color: $primaryColor;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 10px;
    &-item {
      border-bottom: 1px solid $borderColor;
      padding-block: 20px;
      cursor: pointer;
      &:first-child {
        border-top: 1px solid $borderColor;
      }
    }
    &-title {
      @include flexbox(row, center, flex-start, 15px);
      span {
        color: $primaryColor;
        font-weight: 700;
        font-size: 16px;
      }
    }
    &-answer {
      line-height: 1.5em;
      padding-left: 20px;
      max-height: 0px;
      overflow-y: hidden;
    }
  }
}
.bang-san-pham {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-block: 15px;
  th,
  td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
  }
  th {
    background-color: #f0f0f0;
  }
  td:first-child {
    text-align: left;
    padding-left: 5px;
  }
}
.sidebar {
  &-chai-thuy-tinh {
    margin-block: unset;
  }
}

