@use "./abstracts" as *;
// CSS page title post
.post {
  &-title {
    .page {
      &-title {
        line-height: 2rem;
        &-entry {
          color: #fff;
          font-size: 2rem;
          margin-block: unset;
          @include maxWidth($medium) {
            font-size: 1.5rem;
          }
        }
        &-breadcrumb {
          .breadcrumb {
            &-item {
              color: #fff;
              a {
                color: #fff;
                font-size: 1rem;
                font-weight: 500;
                line-height: 2rem;
                @include maxWidth($medium) {
                  line-height: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// CSS for Layout post
.post {
  &-main {
    &-wrapper {
      display: grid;
      grid-template-columns: 75% 25%;
      @include maxWidth($large) {
        grid-template-columns: unset;
      }
    }
  }
}

// CSS sidebar post
.post {
  &-sidebar {
    &-open {
      border: none;
      outline: none;
      background-color: rgba($color: #fff, $alpha: 0.9);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      color: rgba($color: #333, $alpha: 0.8);
      text-align: center;
      width: 50px;
      height: 50px;
      line-height: 40px;
      box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 25vh;
      left: 0;
      transform: translateX(-50px);
      cursor: pointer;
      display: none;
      @include maxWidth($large) {
        display: block;
      }
      i.fa {
        pointer-events: none;
      }
    }
    &-close {
      background-color: unset;
      border: none;
      outline: none;
      padding: 10px;
      cursor: pointer;
      display: none;
      width: 100%;
      text-align: left;
      span {
        margin-left: 6px;
        color: rgba($color: #333, $alpha: 0.9);
      }
      @include maxWidth($large) {
        display: block;
      }
    }
    &-posts {
      border: 1px solid $borderColor;
      border-radius: $border12;
    }
    &-wrapper {
      width: 100%;
      border-radius: $border12;
      @include maxWidth($large) {
        padding-inline: 10px;
        padding-top: 10px;
        padding-bottom: 30px;
        overflow-y: scroll;
        overflow-x: visible;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $primaryColor;
          border-radius: $border8;
        }
      }
    }
    &-title {
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      line-height: 2rem;
      text-align: center;
      padding: 4px 15px;
      white-space: nowrap;
      margin-block: unset;
      background-color: $primaryColor;
      border-top-left-radius: $border12;
      border-top-right-radius: $border12;
      @include minmax(1000px, 1100px) {
        @include textEllipsis();
      }
    }
    &-list {
      border-top: 1px solid $borderColor;
      list-style: none;
    }
    &-item {
      border-top: 1px solid $borderColor;
      a {
        @include flexbox(row, center, flex-start, 8px);
        & {
          padding-block: 10px;
          padding-inline: 20px;
        }
        span {
          color: $textColor;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          @include minmax($large, 1100px) {
            @include webkitBox(2);
          }
        }
        img {
          @include square(40px);
          & {
            object-fit: cover;
            border-radius: $border4;
          }
        }
      }
      &:hover {
        background-color: #f7f7f7;
      }
    }
  }
}

// Post article
.post {
  &-article {
    &-content {
      width: auto;
      height: auto;
    }
    &-header {
      color: $primaryColor;
      font-size: 2rem;
      font-weight: 700;
      margin-block: 15px;
      @include maxWidth($medium) {
        font-size: 1.5rem;
      }
    }
    &-body {
      width: auto;
      height: auto;
    }
    &-footer {
      p {
        color: $primaryColor;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-block: 15px;
      }
      ul {
        list-style: disc;
        padding-left: 20px;
      }
      li {
        margin-block: 10px;
        a {
          color: $primaryColor;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          transition: all ease 0.3s;
          &:hover {
            color: $secondColor;
          }
        }
      }
    }
    &-sidebar {
      padding-left: 20px;
      background-color: #fff;
      // @include maxWidth($large) {
      //   padding-inline: 10px;
      //   width: 50vw;
      //   min-height: 100vh;
      //   position: fixed;
      //   top: 0;
      //   bottom: 0;
      //   right: 0;
      //   z-index: 900;
      //   transform: translateX(100%);
      // }
      // @include maxWidth($small) {
      //   width: 70vw;
      // }
    }
  }
}

.post {
  &-publish_date {
    margin-block: 4px;
    p {
      color: #969696;
      font-size: 1rem;
      line-height: 2rem;
      font-weight: 600;
      margin-block: unset;
    }
  }
  &-short_description {
    margin-bottom: 10px;
    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      color: $textColor;
      @include maxWidth($small) {
        text-align: justify;
      }
    }
  }
  &-image {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: $border12;
    }
    figcaption {
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      margin-top: 4px;
      text-align: center;
      color: #5c5c5c;
    }
  }
  &-toc {
    border: 1px solid $borderColor;
    border-radius: $border12;
    p {
      background-color: $secondColor;
      padding: 10px 20px;
      margin-block: unset;
      border-top-left-radius: $border12;
      border-top-right-radius: $border12;
      color: $primaryColor;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
    }
    &-list {
      list-style-type: decimal;
      padding-inline: 40px;
      margin-block: 15px;
      &-item {
        a {
          color: $primaryColor;
          font-size: 1rem;
          line-height: 2rem;
          font-weight: 600;
          transition: all linear 0.1s;
          cursor: pointer;
          &:hover {
            color: $secondColor;
            text-decoration: underline;
          }
        }
      }
    }
    &-child {
      list-style: circle;
      padding-left: 15px;
    }
  }
  &-long_description {
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    h2,
    h3 {
      line-height: 2rem;
      margin-block: 10px;
    }
    img {
      border-radius: $border12;
      width: 100%;
      object-fit: cover;
      margin-block: 15px;
    }
    p {
      text-align: justify;
      line-height: 1.5rem;
      font-size: 1rem;
      font-weight: 400;
      color: $textColor;
      margin-block: 10px;
    }
  }
  &-overview {
    margin-bottom: 10px;
    span {
      font-size: 1rem;
      line-height: 40px;
    }
    i.fa {
      font-size: 1.3rem;
      line-height: 40px;
    }
    &-wrapper {
      & {
        line-height: 40px;
      }
      @include flexbox(row, center, flex-start, 30px);
      @include maxWidth($small) {
        line-height: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: unset;
      }
      span {
        color: $primaryColor;
      }
    }
  }
  &-rating {
    & {
      height: 100%;
      position: relative;
    }
    @include flexbox(row, center, flex-start, 4px);
    &-star {
      & {
        color: #fd9530;
      }
      @include flexbox(row, center, flex-start, 2px);
    }
  }
  &-comment {
    @include flexbox(row, center, flex-start, 8px);
    & {
      height: 100%;
      position: relative;
    }
  }
  &-viewed {
    & {
      height: 100%;
    }
    @include flexbox(row, center, flex-start, 8px);
  }
  &-rating::after,
  &-comment::after {
    content: "";
    display: block;
    width: 10px;
    height: 1px;
    border-top: 1px solid $primaryColor;
    position: absolute;
    top: 20px;
    right: -20px;
    @include maxWidth($small) {
      display: none;
    }
  }
}
