@use "./abstracts" as *;
// Product Wrapper
.product {
  &-main {
    margin-top: 20px;
  }
  &-breadcrumb {
    text-align: left;
    .breadcrumb-list {
      justify-content: flex-start;
    }
  }
  &-article {
    padding-top: 15px;
  }
  &-header {
    @include flexbox(row-reverse, stretch, space-between, null);
    @include maxWidth($large) {
      flex-direction: column-reverse;
      row-gap: 20px;
    }
  }
  &-gallery {
    flex: 0 0 60%;
    max-width: 60%;
    @include maxWidth($large) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &-infomation {
    flex: 0 0 40%;
    max-width: 40%;
    padding-left: 20px;
    @include maxWidth($large) {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: unset;
    }
  }
  &-body {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &-layout {
    display: grid;
    grid-template-columns: 75% 25%;
    @include maxWidth($large) {
      grid-template-columns: unset;
    }
  }
  &-sidebar {
    padding-left: 20px;
    background-color: #fff;
  }
}

// Thành phần product
.product {
  &-infomation {
    @include flexbox(column, stretch, flex-start, 4px);
    @include maxWidth($medium) {
      padding-left: unset;
    }
    h1 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.8rem;
      color: $primaryColor;
      @include maxWidth($medium) {
        font-size: 1.5rem;
        line-height: 2.2rem;
      }
    }
  }
  &-rating {
    .rating {
      justify-content: flex-start;
    }
  }
  &-meta {
    margin-block: unset;
    time {
      font-size: 1rem;
      font-weight: 500;
      margin-left: 10px;
    }
  }
  &-cate {
    font-size: 1rem;
    margin-left: 6px;
    line-height: 1.5rem;
    color: $primaryColor;
    &:not(:last-child)::after {
      content: ",";
    }
  }
  &-text {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 8px;
    line-height: 1.5rem;
    @include maxWidth($medium) {
      font-size: 1rem;
      line-height: 1.3rem;
    }
  }
  &-viewed {
    position: relative;
    line-height: 40px;
    padding-left: 25px;
    margin-block: unset;
    color: $primaryColor;
    &::before {
      font-family: "FontAwesome";
      content: "\f06e";
      line-height: inherit;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &-shor_description {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: justify;
  }
  &-order {
    background-color: $primaryColor;
    border-radius: $border4;
    text-align: center;
    border: 2px solid $primaryColor;
    transition: background-color ease 0.3s;
    margin-block: unset;
    a {
      display: block;
      color: #fff;
      padding: 12px 15px;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
      transition: all linear 0.3s;
    }
    &:hover {
      background-color: #fff;
      a {
        color: $primaryColor;
      }
    }
  }
  &-share {
    @include maxWidth($large) {
      margin-top: 20px;
    }
    &-text {
      color: $primaryColor;
      font-weight: 700;
      line-height: 2rem;
      font-size: 1.5rem;
      margin-bottom: 8px;
    }
    &-social {
      margin-top: 8px;
      @include flexbox(row, center, flex-start, 10px);
      &-item {
        a {
          display: block;
          width: 40px;
          height: 40px;
          line-height: 41px;
          border-radius: 100rem;
          color: #fff;
          text-align: center;
          i.fa {
            font-size: 18px;
          }
          &:hover {
            background-color: $secondColor;
            color: $primaryColor;
          }
        }
      }
    }
    &-facebook {
      background-color: #365493;
    }
    &-twitter {
      background-color: #3cf;
    }
    &-pinterest {
      background-color: #cb2027;
    }
    &-telegram {
      background-color: #37aee2;
    }
    &-linkedin {
      background-color: #0274b3;
    }
  }
  &-long_description {
    p {
      text-align: justify;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: $border12;
    }
  }
}

// Khu vực Gallery sản phẩm
.product-gallery {
  &-wrapper {
    border-radius: $border12;
    @include flexbox(row, stretch, flex-start, null);
    @include maxWidth($small) {
      flex-direction: column-reverse;
    }
  }

  &-main {
    flex: 0 0 80%;
    max-width: 80%;
    position: relative;
    @include maxWidth($small) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    &-item {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: $border12;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transform: scale(1);
        transition: transform linear 0.3s;
      }
      &:hover {
        img {
          transform: scale(1.08);
        }
      }
    }
  }

  &-vertical {
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 10px;
    @include flexbox(column, stretch, space-between, null);
    @include maxWidth($small) {
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: unset;
    }
  }
  &-thumb {
    flex: 0 0 93%;
    max-height: 530px;
    overflow: hidden;
    @include maxWidth($small) {
      margin-top: 15px;
      padding-bottom: 15px;
      display: grid;
      grid-auto-flow: column;
      grid-auto-rows: 90px;
      grid-template-columns: repeat(3, 90px);
      gap: 10px;
      @include scrollHorizontalBar();
    }
  }
  &-image {
    border-radius: $border8;
    overflow: hidden;
    margin-bottom: 10px;
    @include maxWidth($small) {
      & {
        scroll-snap-align: center;
      }
      @include square(90px);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-button {
    flex: 0 0 7%;
    max-height: 7%;
    @include flexbox(row, stretch, space-between, 10px);
    @include maxWidth($small) {
      display: none;
    }
    button {
      flex: 1 1 50%;
      max-width: 50%;
      background-color: #f7f7f7;
      border-radius: $border8;
      border: none;
      outline: none;
      padding-block: 6px;
      cursor: pointer;
    }
  }
  &-show {
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: 30px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    a {
      @include flexbox(row, center, center, null);
      & {
        color: $textColor;
        flex-wrap: nowrap;
        min-width: 50px;
        height: 50px;
        padding-right: 0px;
        overflow: hidden;
        cursor: pointer;
        transition: padding-right ease-in-out 0.5s;
      }
      span {
        max-width: 0px;
        overflow: hidden;
        font-weight: 600;
        padding-left: 0px;
        padding-right: 0px;
        white-space: nowrap;
        transition: max-width ease-in-out 0.5s;
      }
      i {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
      }
      &:hover {
        padding-right: 15px;
        span {
          max-width: 280px;
        }
      }
    }
  }
}

// Bảng thông tin sản phẩm
.product {
  &-table {
    border-radius: $border12;
    background-color: #fff;
    overflow: hidden;
    h2 {
      padding-left: 15px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      border: 1px solid $borderColor;
      border-radius: $border12;
      th,
      td {
        padding: 10px 15px;
        text-align: left;
        border-top: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
      }
      thead {
        border-top-left-radius: $border12;
        border-top-right-radius: $border12;
        th {
          color: $primaryColor;
        }
      }
      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f2f2f2;
          }
          &:hover {
            background-color: #ddd;
          }
        }
        td {
          color: #555;
        }
      }
      th {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}

// Thành phần Banner
.product-banner {
  margin-bottom: 15px;
  margin-top: 15px;
  &-image {
    border-radius: $border12;
    position: relative;
    overflow: hidden;
    @include maxWidth($small) {
      min-height: 250px;
      &::before {
        content: "";
        display: block;
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        inset: 0;
        z-index: 700;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform ease 0.5s;
      @include maxWidth($medium) {
        min-height: 250px;
      }
    }
    &:hover {
      img {
        transform: scale(1.08);
      }
    }
  }
  &-content {
    @include flexbox(column, stretch, flex-start, 4px);
    & {
      max-width: 300px;
      position: absolute;
      top: 20%;
      left: 40px;
      z-index: 800;
    }
    @include maxWidth($medium) {
      gap: 10px;
      top: 10%;
    }
  }
  &-subtitle {
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin-block: unset;
  }
  &-title {
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    margin-block: unset;
  }
  &-desc {
    color: #fff;
    font-size: 1rem;
    line-height: 1.8rem;
  }
  &-button {
    background-color: #fff;
    border-radius: $border8;
    padding: 10px 15px;
    width: fit-content;
    color: $textColor;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all linear 0.2s;
    &:hover {
      background-color: $secondColor;
      color: $primaryColor;
    }
  }
}

// Đặc điểm nổi bật
.product-featured {
  padding-block: 40px;
  background-image: url("../../images/hosting/isoglass-background.jpg");
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-block: 20px;
    @include maxWidth($medium) {
      padding-inline: 20px;
      grid-auto-flow: column;
      grid-template-columns: repeat(3, 350px);
      overflow-x: auto;
      overflow-y: visible;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      &::-webkit-scrollbar {
        @include square(8px);
      }
      &::-webkit-scrollbar-thumb {
        background-color: $primaryColor;
        border-radius: $border4;
      }
      &::-webkit-scrollbar-track {
        background-color: #f8f8f8;
      }
    }
    @include maxWidth($small) {
      grid-template-columns: repeat(3, 300px);
    }
  }
  &-item {
    @include maxWidth($medium) {
      scroll-snap-align: center;
    }
  }
  &-title {
    text-align: center;
    text-transform: uppercase;
  }
  &-image {
    border-radius: $border12;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: all linear 0.3s;
    }
  }
  &-usp {
    background-color: #1c212c;
    padding: 25px 30px;
    margin-top: 20px;
    border-radius: $border12;
    p {
      color: #f9f1d9;
      text-align: center;
    }
    &-title {
      margin-bottom: 8px;
    }
    &-sub {
      font-style: italic;
      letter-spacing: 1px;
    }
  }
}

// Product Tab Infomation
.product-tab {
  &-info {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &-wrapper {
    width: 100%;
    margin-top: 20px;
  }
  &-head {
    @include flexbox(row, center, flex-start, null);
    & {
      background-color: #fff;
      cursor: pointer;
    }
  }
  &-list {
    span {
      padding: 20px;
      display: block;
      font-weight: 700;
      color: $primaryColor;
      pointer-events: none;
      text-transform: uppercase;
    }
    &:nth-child(2) {
      border-left: 1px solid $borderColor;
      border-right: 1px solid $borderColor;
    }
    &:first-child {
      border-left: 1px solid $borderColor;
    }
    &:last-child {
      border-right: 1px solid $borderColor;
    }
  }
  &-body {
    margin-top: 20px;
  }
  &-content {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: all linear 0.3s;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: $border12;
    box-shadow: $shadow;
    p {
      font-size: 1rem;
      color: $textColor;
      margin-block: 10px;
    }
  }
  &-active {
    display: block;
    visibility: visible;
    opacity: 1;
    background-color: #f8f8f8;
    span {
      border-top: 3px solid $primaryColor;
    }
  }
}

// Sản phẩm đã xem
.product-seen {
  &-title {
    text-align: center;
    text-transform: uppercase;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    @include maxWidth($medium) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px;
    }
    @include maxWidth($small) {
      grid-template-columns: repeat(4, 300px);
      grid-auto-flow: column;
      @include scrollHorizontalBar();
      .product-item-4-item {
        scroll-snap-align: center;
      }
    }
  }
}
