@use "./abstracts" as *;
// * CSS Sidebar
@use "./layout/sidebar/sidebar";
@use "./layout/sidebar/sidebar-product";
// * CSS Section product
@use "./section/product-main";
// * Import Google font
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.product {
  &-main {
    &-wrapper {
      margin-top: 30px;
      @include maxWidth($medium) {
        margin-top: 10px;
      }
    }
  }
  &-header {
    @include flexbox(row-reverse, stretch, space-between, null);
    @include maxWidth($medium) {
      flex-direction: column-reverse;
      gap: 15px;
    }
    &-info {
      flex: 0 0 40%;
      max-width: 40%;
      padding-left: 20px;
      @include flexbox(column, stretch, flex-start, 10px);
      @include maxWidth($medium) {
        padding-left: unset;
      }
      h1 {
        color: $primaryColor;
        font-weight: 700;
        font-size: clamp(1.5rem, 2.2vw, 2rem);
        line-height: clamp(2rem, 3vw, 4rem);
      }
    }
    &-viewer {
      flex: 0 0 60%;
      max-width: 60%;
    }
  }
  &-meta {
    span {
      display: block;
      font-weight: 600;
      line-height: 22px;
      margin-block: 10px;
      font-size: 16px;
    }
    time {
      font-weight: 400;
      font-size: 16px;
      margin-left: 10px;
    }
    a {
      font-size: 16px;
      line-height: 1.4rem;
      margin-left: 12px;
      color: $primaryColor;
    }
  }
  &-viewer {
    span {
      font-size: inherit;
      i {
        margin-right: 10px;
      }
    }
  }
  &-sapo {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    text-align: justify;
    span {
      display: block;
      margin-top: 10px;
      line-height: 28px;
      font-weight: 400;
      font-size: 16px;
    }
  }
  &-contact {
    background-color: $primaryColor;
    border-radius: $border4;
    text-align: center;
    border: 2px solid $primaryColor;
    transition: background-color ease 0.3s;
    a {
      display: block;
      color: #fff;
      padding: 14px 20px;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      transition: all linear 0.3s;
    }
    &:hover {
      background-color: #fff;
      a {
        color: $primaryColor;
      }
    }
  }
  &-share {
    span {
      color: $primaryColor;
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 2rem;
    }
    &-social {
      margin-top: 4px;
      @include flexbox(row, center, flex-start, 10px);
      &-item {
        a {
          display: block;
          width: 40px;
          height: 40px;
          line-height: 41px;
          border-radius: 100rem;
          color: #fff;
          text-align: center;
          i.fa {
            font-size: 18px;
          }
          &:hover {
            background-color: $secondColor;
            color: $primaryColor;
          }
        }
      }
    }
    &-facebook {
      background-color: #365493;
    }
    &-twitter {
      background-color: #3cf;
    }
    &-pinterest {
      background-color: #cb2027;
    }
    &-telegram {
      background-color: #37aee2;
    }
    &-linkedin {
      background-color: #0274b3;
    }
  }
  &-image {
    &-wrapper {
      border-radius: $border12;
      position: relative;
    }
    &-carousel {
      @include flexbox(row, stretch, space-between, null);
      &-vertical {
        flex: 0 0 20%;
        max-width: 20%;
        @include flexbox(column, stretch, space-between, null);
        padding-right: 10px;
      }
      &-thumb {
        flex: 0 0 90%;
        max-height: 500px;
        overflow: hidden;
      }
      &-main {
        flex: 0 0 80%;
        max-width: 80%;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: $border12;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transform: scale(1);
          transition: transform linear 0.3s;
        }
        &:hover {
          img {
            transform: scale(1.08);
          }
        }
      }
      &-image {
        border-radius: $border8;
        overflow: hidden;
        margin-bottom: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &-show {
      background-color: #fff;
      box-shadow: $shadow;
      border-radius: 30px;
      position: absolute;
      left: 20px;
      bottom: 20px;
      a {
        color: $textColor;
        @include flexbox(row, center, center, null);
        flex-wrap: nowrap;
        min-width: 50px;
        height: 50px;
        padding-right: 0px;
        overflow: hidden;
        cursor: pointer;
        transition: padding-right ease-in-out 0.5s;
        span {
          max-width: 0px;
          overflow: hidden;
          font-weight: 600;
          padding-left: 0px;
          padding-right: 0px;
          white-space: nowrap;
          transition: max-width ease-in-out 0.5s;
        }
        i {
          display: block;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }
        &:hover {
          padding-right: 15px;
          span {
            max-width: 280px;
          }
        }
      }
    }
    &-button {
      flex: 0 0 auto;
      max-height: 10%;
      @include flexbox(row, stretch, space-between, 10px);
      button {
        flex: 1 1 50%;
        max-width: 50%;
        background-color: #f7f7f7;
        border-radius: $border8;
        border: none;
        outline: none;
        padding-block: 6px;
        cursor: pointer;
      }
    }
  }
  &-content {
    margin-bottom: unset;
    @include maxWidth($medium) {
      margin-top: 20px;
    }
    &-wrapper {
      display: grid;
      grid-template-columns: 75% 25%;
      @include maxWidth($large) {
        grid-template-columns: unset;
      }
    }
    &-extra {
      h2,
      h3 {
        color: $primaryColor;
        font-weight: 700;
        line-height: 2rem;
        margin-top: 10px;
      }
      h2 {
        font-size: 22px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        text-align: justify;
        margin-block: 10px;
      }
      li {
        margin-block: 10px;
      }
    }
    &-sidebar {
      padding-left: 20px;
      background-color: #fff;
      @include maxWidth($large) {
        width: 40vw;
        box-shadow: $shadow;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-right: 10px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 900;
        transform: translateX(100%);
      }
      @include maxWidth($medium) {
        width: 45vw;
      }
      @include maxWidth($small) {
        width: 70vw;
      }
      &-open {
        display: block;
        @include square(50px);
        background-color: rgba($color: #fff, $alpha: 0.8);
        box-shadow: -4px 0px 7px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        outline: none;
        border: none;
        text-align: center;
        color: $textColor;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 25vh;
        z-index: 500;
        transform: translateX(-50px);
        display: none;
        @include maxWidth($large) {
          display: block;
        }
      }
      &-close {
        border: unset;
        outline: none;
        background-color: unset;
        width: 100%;
        padding-block: 10px;
        padding-left: 10px;
        text-align: left;
        display: none;
        cursor: pointer;
        @include maxWidth($large) {
          display: block;
        }
        span {
          color: #333;
          font-size: 16px;
          font-weight: 500;
          margin-left: 6px;
        }
      }
      &-wrapper {
        width: 100%;
        height: calc(100% - 30px);
        @include maxWidth($large) {
          margin-bottom: 20px;
          padding-bottom: 20px;
          padding-inline: 10px;
          overflow-y: auto;
          overflow-x: visible;
          scroll-behavior: smooth;
          &::-webkit-scrollbar {
            width: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $primaryColor;
            border-radius: $border8;
          }
        }
      }
    }
  }
  &-table {
    border-radius: $border12;
    background-color: #fff;
    border: 1px solid $borderColor;
    overflow: hidden;
    h2 {
      padding-left: 15px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      th,
      td {
        padding: 10px 15px;
        text-align: left;
        border-top: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
      }
      thead {
        th {
          color: $primaryColor;
        }
      }
      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f2f2f2;
          }
          &:hover {
            background-color: #ddd;
          }
        }
        td {
          color: #555;
        }
      }
      th {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
  &-banner {
    margin-bottom: 15px;
    margin-top: 15px;
    &-image {
      border-radius: $border12;
      position: relative;
      overflow: hidden;
      @include maxWidth($small) {
        &::before {
          content: "";
          display: block;
          background-color: rgba($color: #000000, $alpha: 0.5);
          position: absolute;
          inset: 0;
          z-index: 700;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform ease 0.5s;
        @include maxWidth($medium) {
          min-height: 220px;
        }
        @include maxWidth($small) {
          min-height: 200px;
        }
      }
      &:hover {
        img {
          transform: scale(1.07);
        }
      }
    }
    &-content {
      @include flexbox(column, stretch, flex-start, 15px);
      max-width: 250px;
      position: absolute;
      top: 20%;
      left: 40px;
      z-index: 800;
      @include maxWidth($medium) {
        gap: 10px;
        top: 10%;
      }
    }
    &-subtitle {
      color: #fff;
      font-size: 14px;
    }
    &-title {
      color: #fff;
      font-weight: 700;
      font-size: 20px;
    }
    &-desc {
      color: #fff;
      font-size: 14px;
      line-height: 24px;
    }
    &-button {
      background-color: #fff;
      border-radius: $border8;
      padding: 10px;
      width: fit-content;
      color: $textColor;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      transition: all linear 0.2s;
      &:hover {
        background-color: $secondColor;
        color: $primaryColor;
      }
    }
  }
}
