@use "./abstracts" as *;
// * CSS Sidebar
@use "./layout/sidebar/sidebar";
// * CSS Page Title
@use "./component/page-title";
// - Cate Child
.sub-cat {
  &-breadcrumb {
    @include flexbox(row, center, flex-start, null);
    & {
      margin-block: 15px;
    }
    ul {
      @include flexbox(row, center, center, 10px);
    }
    li {
      color: $primaryColor;
      font-size: 15px;
      font-weight: 600;
      position: relative;
    }
  }
  &-title {
    color: $primaryColor;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  &-rating {
    @include flexbox(row, center, flex-start, 8px);
    & {
      margin-block: 10px;
    }
    span {
      font-weight: 500;
    }
    &-star {
      color: #f7c600;
      font-size: 20px;
      i.fa {
        margin-left: 4px;
      }
    }
  }
  &-short-description {
    margin-block: 10px;
    a {
      color: $primaryColor;
      font-size: inherit;
      font-weight: inherit;
    }
    p {
      color: $textColor;
      line-height: 28px;
      font-size: 16px;
      font-weight: 400;
      text-align: justify;
      margin-block: 10px;
    }
  }
  &-gallery-images {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  &-product {
    margin-bottom: 20px;
    &-title {
      color: $primaryColor;
      font-weight: 700;
      font-size: 24px;
      margin-block: 15px;
    }
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      @include maxWidth($medium) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      @include maxWidth($small) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  &-main {
    display: grid;
    grid-template-columns: 75% 25%;
    @include maxWidth($large) {
      grid-template-columns: unset;
    }
    &-content {
      a {
        color: $primaryColor;
      }
    }
    &-sidebar {
      padding-left: 15px;
      background-color: #fff;
      &-close {
        width: 100%;
        background-color: unset;
        border: none;
        outline: none;
        margin-bottom: 10px;
        padding: 10px;
        cursor: pointer;
        display: none;
        span {
          margin-left: 6px;
          color: rgba($color: #333, $alpha: 0.9);
        }
        @include maxWidth($large) {
          display: block;
        }
      }
      &-open {
        border: none;
        outline: none;
        background-color: rgba($color: #fff, $alpha: 0.9);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        color: rgba($color: #333, $alpha: 0.8);
        text-align: center;
        width: 50px;
        height: 50px;
        line-height: 40px;
        box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 25vh;
        left: 0;
        transform: translateX(-50px);
        cursor: pointer;
        display: none;
        @include maxWidth($large) {
          display: block;
        }
        & * {
          pointer-events: none;
        }
      }
    }
  }
  &-extra-description {
    img {
      border-radius: $border12;
      object-fit: cover;
      width: 100%;
      margin-block: 10px;
    }
    ul {
      list-style: circle;
    }
    li {
      margin-block: 10px;
      line-height: 28px;
      margin-left: 20px;
    }
  }
}

.sub-cat-main {
  &-sidebar {
    @include maxWidth($large) {
      width: 30vw;
      max-width: 300px;
      padding-top: 20px;
      padding-inline: 20px;
      box-shadow: $shadow2;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      transform: translateX(100%);
      z-index: 900;
      transition: all linear 0.3s;
    }
    @include maxWidth($medium) {
      width: 50vw;
    }
    @include maxWidth($small) {
      width: 70vw;
    }
    &-active {
      transform: translateX(0%);
    }
  }
}
