section.gioi-thieu 
  .container 
    h2.gioi-thieu-title iSOGLASS - Sản xuất Chai thuỷ tinh và Ly thuỷ tinh chuẩn ISO quốc tế
    p.gioi-thieu-subtitle iSOGLASS - Tạo hình thành công của bạn
    .gioi-thieu-wrapper 
      .gioi-thieu-image 
        img(src="../../images/hosting/gioi-thieu-ve-iso-glass.jpg", alt="Giới thiệu iSOGLASS - Đơn vị sản xuất Sản xuất Chai thuỷ tinh và Ly thuỷ tinh chuẩn ISO quốc tế", srcset="../../images/hosting/gioi-thieu-ve-iso-glass.jpg 2x" title="Thủy tinh iSOGLASS Sản xuất Chai thủy tinh và Ly thủy tinh theo tiêu chuẩn ISO quốc tế tại Việt Nam")
      .gioi-thieu-content 
        .gioi-thieu-content-wrapper 
          span.gioi-thieu-content-subtitle Về chúng tôi 
          h2.gioi-thieu-content-title iSOGLASS Sản phẩm thủy tinh cho Đồ uống và Trang trí
          p.gioi-thieu-content-paragraph Chúng tôi sản xuất và cung cấp các sản phẩm ly thủy tinh - chai thuỷ tinh chọn lọc cho mảng Bar, Cafe, Nhà Hàng, Khách Sạn và Doanh Nghiệp. Thông qua kênh bán lẻ chúng tôi giới thiệu, phát triển và nhận hợp đồng dự án cung cấp số lượng lớn các mẫu ly thủy tinh theo yêu cầu, thiết kế của quý Doanh nghiệp trên toàn quốc.
          blockquote(cite="/gioi-thieu.html") "Chúng tôi tiên phong trong ngành sản xuất thuỷ tinh tại Việt Nam, nhằm đáp ứng được nhu cầu của từng doanh nghiệp và cá nhân với các sản phẩm thuỷ tinh riêng biệt."
          a.gioi-thieu-content-btn(href="", target="_blank", rel="noopener noreferrer nofollow") Xem thêm