section.khach-hang-isoglass 
  .container 
    +title("Khách hàng của chúng tôi", "CÁC THƯƠNG HIỆU CỦA iSOGLASS", "Cảm ơn Quý khách đã tin tưởng và lựa chọn sản phẩm của chúng tôi, với ngành hàng thủy tinh chuyên sâu đã chọn, chúng tôi không ngừng cải tiến và sẵn sàng đáp ứng mọi yêu cầu của Quý khách hàng giao phó.")