extends ./view/layout/layout

block titlePage 
  title Công ty TNHH TMDV iSOGLASS | Thủy tinh iSOGLASS

block owlCarousel
  - var useOwlCarousel = false;

append styleSheet 
  link(rel="stylesheet" href="./style/aboutus.css")

append mainHeading
  h1.header-heading Giới thiệu về iSOGLASS

block main
  main.main-wrapper