extends ./view/layout/product
block titleProductDetails
  title Chai thuỷ tinh cổ cao thân bầu đựng nước size 330ml iSO-09 - iSOGLASS 
block mainHeading
  p Chai thuỷ tinh cổ cao thân bầu đựng nước size 330ml iSO-09
block h1TitleProduct
  h1 Chai đựng rượu 750ml nắp gia công iSOGLASS
