extends ./view/layout/danh-muc-cha
block titleCategory
  title Chai thuỷ tinh cao cấp - giá tốt tại TP.HCM

append stylesheet 
  link(rel="stylesheet", href="../style/chai-thuy-tinh-cat.css")

block mainHeading 
  p.header-heading Chai thuỷ tinh cao cấp

append main 
  append slideshow 
    include ./view/section/danh-muc-cha/chai-thuy-tinh/slide-chai-thuy-tinh
  block H1 
    h1.category-main-heading Chai thuỷ tinh giá tốt sản xuất tại TP.HCM
