extends ./view/layout/danh-muc-cha
block titleCategory
  title Chai thuỷ tinh cao cấp - giá tốt tại TP.HCM

append stylesheet 
  link(rel="stylesheet", href="../style/chai-thuy-tinh-cat.css")

block mainHeading 
  p.header-heading Chai thuỷ tinh cao cấp

append main 
  append slideshow 
    include ./view/section/danh-muc-cha/chai-thuy-tinh/slide-chai-thuy-tinh
  block H1 
    h1.category-main-heading Chai thuỷ tinh giá tốt sản xuất tại TP.HCM
  append sapo
    p Đến với iSOGLASS, chúng tôi cung cấp cho Quý khách hàng nhiều sự lựa chọn nhất về các chai lọ thủy tinh để phục vụ nhu cầu sản xuất của Quý khách. Chúng tôi chuyên về sản xuất và cung cấp cho nhiều ngành công nghiệp những loại chai thủy tinh bền nhất, chất lượng nhất, cùng đang dạng mẫu mã với nhiều kích cỡ khác nhau, từ những chai thủy tinh đựng nước, chai thủy tinh đựng rượu cho đến các loại bộ bình dành riêng cho ly thuỷ tinh và các loại bình xịt làm bằng thủy thủy tinh như chai chiết tinh dầu, chai chiết nước hoa,… Đến với iSOGLASS, Quý khách sẽ tìm được những loại chai thủy tinh phù hợp với ngân sách của mình.
  append categoryProduct
    include ./view/section/danh-muc-cha/chai-thuy-tinh/chai-thuy-tinh-noi-bat



      article
        .category-main-wrapper 
          .category-main-content 
            h2 Các loại chai lọ thủy tinh đẹp tại iSOGLASS
            h3 Chai thủy tinh đẹp
            p iSOGLASS cung cấp hơn 120 mẫu chai thủy tinh đẹp, không chỉ những mẫu chai trong nước mà còn những loại vỏ chai được thiết kế theo phong cách phương tây, phù hợp cho các quán cafe, nhà hàng hay các quán bar phục vụ rượu pha cho Khách hàng.
          .category-main-sidebar
            block sidebar 