extends ./view/layout/danh-muc-cha

block titleCategory
  title Chai thuỷ tinh giá tốt tại TP.HCM

append stylesheet 
  link(rel="stylesheet", href="../style/chai-thuy-tinh-cat.css")

append mainHeading 
  h1.header-heading Chai thuỷ tinh

append menu
  //- include ./view/layout/menu/menu-2

block main 
  main.main-wrapper 

//- block scriptJS  
  //- script(src="../js/menu-2.js")