extends ./view/layout/layout-page.pug
block title_page 
  title iSOGLASS sản xuất và cung cấp thủy tinh đạt chuẩn iSO tại Việt Nam 
append styleSheet 
  link(rel="stylesheet" href="../style/home.css")
append topbar_text
  h1 Sản xuất Chai thủy tinh và Ly thủy tinh theo tiêu chuẩn iSO tại TP.HCM 
block main
  main.main-wrapper
    include ./view/element/home/banner-slideshow
    include ./view/element/home/gioi-thieu-isoglass
    include ./view/element/home/ly-do-chon-isoglass
    include ./view/element/home/chai-thuy-tinh-cat
    include ./view/element/home/chai-thuy-tinh-pro
    include ./view/element/home/vo-hop-dung-ruou
    include ./view/element/home/ly-thuy-tinh-cat
    include ./view/element/home/ly-thuy-tinh-pro
    include ./view/element/home/in-logo-ly-thuy-tinh
    include ./view/element/common/tem-nhan-chai-ruou
    include ./view/element/home/binh-thuy-tinh-pro
    include ./view/element/common/con-so-noi-bat
    include ./view/element/home/khach-hang-isoglass
    include ./view/element/home/cam-nhan-khach-hang