extend ./view/layout/layout
block titlePage 
  title Liên hệ iSOGLASS | Hotline 0963.181.517
append styleSheet 
  link(rel="stylesheet" href="../style/contact.css")
append mainHeading
  p Liên hệ với iSOGLASS
block main 
  +secTitleBase("Liên hệ iSOGLASS", "../images/hosting/background-title-contact-page.jpg")
  main.main-wrapper 
    include ./view/section/contact/google-map
    include ./view/section/contact/form-lien-he