extends ./view/layout/danh-muc-cha

block titleCategory 
  title Ly thuỷ tinh giá tốt tại TP.HCM 

append stylesheet 
  link(rel="stylesheet", href="../style/ly-thuy-tinh-cat.css")

append mainHeading
  h1.header-heading Ly thuỷ tinh giá tốt tại TP.HCM 

append menu
  //- include ./view/layout/menu/menu-2

block main 
  main.main-wrapper 

//- block scriptJS 
//-   script(src="../js/menu-2.js")