extends ./view/layout/categories

block titleCategory 
  title Ly thuỷ tinh giá tốt tại TP.HCM 

append stylesheet 
  link(rel="stylesheet", href="../sytle/lythuytinh.css")

append mainHeading 
  h1.header-heading Ly thuỷ tinh giá tốt tại TP.HCM 

block main 
  main.main-wrapper 