extends ./view/layout/product

block titleProductDetails
  title Chai thuỷ tinh cổ cao thân bầu đựng nước size 330ml iSO-09

//- mainHeading sử dụng trong header chứ layout thì sẽ không có
append mainHeading
  h1.header-heading Chai thuỷ tinh cổ cao thân bầu đựng nước size 330ml iSO-09

block main 
  .container 
    include ./view/section/product-details/tab-infomation