extends ./view/blog/layout-categories.pug
append blogStyleSheet
  link(rel="stylesheet", href="../style/tin-tuc-isoglass.css")
block mainHeading
  p Tin tức iSOGLASS tổng hợp
block blogTitle
  title Blog bài viết tin tức iSOGLASS 
block blogMain
  include ./view/blog/danh-muc-blog/tin-tuc-isoglass/tin-tuc-tong-hop.pug
block blogPageTitle 
  +secTitleBase("Tin tức nổi bật của iSOGLASS", "../../images/hosting/background-title-blog.jpg")
block blogTitle 
  +title(null, "Tổng hợp tin tức nổi bật tại iSOGLASS", "Tổng hợp các tin tức nổi bật tại iSOGLASS, công ty hàng đầu trong lĩnh vực sản xuất và cung cấp các sản phẩm thủy tinh chất lượng cao. Với hơn nhiều năm kinh nghiệm và sự cam kết với chất lượng và đổi mới, iSOGLASS đã khẳng định vị thế của mình trong ngành công nghiệp.")