.product-title {
  color: #1a2c75;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}
.product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 10px;
}

.category-main-sidebar-title {
  background-color: #1a2c75;
  color: #fff;
  font-size: 15px;
  line-height: 1em;
  font-weight: 700;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-bottom: unset;
  margin-top: unset;
}
.category-main-sidebar-list {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.category-main-sidebar-list-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.category-main-sidebar-list-item:first-child {
  border-top: unset;
}
.category-main-sidebar-list-item:hover {
  background-color: #f7f7f7;
}
.category-main-sidebar-list-item-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
}
.category-main-sidebar-list-item-image {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  object-fit: cover;
}
.category-main-sidebar-list-item-text {
  display: block;
  width: 100%;
  color: #333;
  font-weight: 700;
  font-size: 14px;
  text-wrap: nowrap;
}
.category-main-sidebar-close {
  border: unset;
  outline: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  display: none;
  position: absolute;
  top: 10px;
  left: 25px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 992px) {
  .category-main-sidebar-close {
    display: block;
  }
}

.chai-thuy-tinh-slideshow {
  margin-top: unset;
  margin-bottom: unset;
}

.tem-nhan-chai-ruou {
  margin-top: 20px;
}

.category-chai-thuy-tinh {
  margin-bottom: 20px;
  margin-top: unset;
}

.category-chai-thuy-tinh-product {
  margin-top: unset;
  margin-bottom: 20px;
}

.chai-thuy-tinh-question {
  color: #1a2c75;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 10px;
}
.chai-thuy-tinh-question-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  padding-block: 20px;
  cursor: pointer;
}
.chai-thuy-tinh-question-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.chai-thuy-tinh-question-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.chai-thuy-tinh-question-title span {
  color: #1a2c75;
  font-weight: 700;
  font-size: 16px;
}
.chai-thuy-tinh-question-answer {
  line-height: 1.5em;
  padding-left: 20px;
  max-height: 0px;
  overflow-y: hidden;
}

.bang-san-pham {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-block: 15px;
}
.bang-san-pham th,
.bang-san-pham td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
}
.bang-san-pham th {
  background-color: #f0f0f0;
}
.bang-san-pham td:first-child {
  text-align: left;
  padding-left: 5px;
}

.sidebar-chai-thuy-tinh {
  margin-block: unset;
}

/*# sourceMappingURL=chai-thuy-tinh-cat.css.map */
