@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.cate-title {
  color: #1a2c75;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}
.cate-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}
.cate-item {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}
.cate-item-link {
  position: relative;
}
.cate-item-image {
  border-radius: 12px;
  overflow: hidden;
}
.cate-item-image img {
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.2, 1), visibility 0.5s cubic-bezier(0.2, 1, 0.2, 1), transform 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}
.cate-item-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding-inline: 8px;
  padding-top: 10px;
  padding-bottom: 4px;
  position: absolute;
  bottom: -28px;
  left: 0;
  transition: all ease-in-out 0.2s;
}
.cate-item-title {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
.cate-item-count {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

.cate-item:hover .cate-item-image img {
  transform: scale(1.1);
}
.cate-item:hover .cate-item-content {
  bottom: 0;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  column-gap: 10px;
}

.tem-nhan-chai-ruou .title-wrapper {
  margin-bottom: 30px;
}
.tem-nhan-chai-ruou .title-after {
  font-weight: 400;
  font-size: 14px;
}
.tem-nhan-chai-ruou-item {
  border-radius: 12px;
  min-width: 276px;
  position: relative;
  overflow: hidden;
}
.tem-nhan-chai-ruou-image {
  border-radius: 12px;
  overflow: hidden;
}
.tem-nhan-chai-ruou-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all linear 0.3s;
}
.tem-nhan-chai-ruou-hover {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 300;
  transition: all ease 0.5s;
}
.tem-nhan-chai-ruou-hover-btn {
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: unset;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.2, 1), visibility 0.5s cubic-bezier(0.2, 1, 0.2, 1), transform 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}
.tem-nhan-chai-ruou-hover-btn:hover {
  background-color: #1a2c75;
  color: #fff;
}
.tem-nhan-chai-ruou-button {
  margin-top: 4px;
  text-align: center;
}
.tem-nhan-chai-ruou-button a {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 20px;
  line-height: 32px;
  min-width: 200px;
}

.tem-nhan-chai-ruou-item:hover .tem-nhan-chai-ruou-hover {
  opacity: 1;
  visibility: visible;
}
.tem-nhan-chai-ruou-item:hover .tem-nhan-chai-ruou-hover-btn {
  transform: translate(-50%, -50%);
}

.category-main-breadcrumb {
  text-align: center;
}
.category-main-breadcrumb ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.category-main-breadcrumb li {
  color: #1a2c75;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}
.category-main-heading {
  color: #1a2c75;
  font-size: 1.6em;
  line-height: 2em;
  font-weight: 600;
  text-align: center;
}
.category-main-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}
.category-main-rating span {
  font-weight: 600;
}
.category-main-rating-star {
  color: #f7c600;
  font-size: 20px;
}
.category-main-rating-star i.fa {
  margin-left: 4px;
}
.category-main-sapo {
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
  color: #333;
}
.category-main-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 992px) {
  .category-main-wrapper {
    position: relative;
  }
}
.category-main-content {
  flex: 0 0 75%;
}
@media screen and (max-width: 992px) {
  .category-main-content {
    flex-basis: 100%;
  }
}
.category-main-content p {
  line-height: 1.5em;
  font-size: 1em;
  color: #333;
  text-align: justify;
}
.category-main-content h2 {
  color: #1a2c75;
  font-size: 26px;
  font-weight: 700;
  margin-block: 10px;
}
.category-main-content h3 {
  color: #1a2c75;
  font-size: 24px;
  font-weight: 700;
  margin-block: 10px;
}
.category-main-content img {
  margin-block: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.category-main-sidebar {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 15px;
  background-color: #fff;
}
@media screen and (max-width: 992px) {
  .category-main-sidebar {
    flex-basis: 30vw;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding-inline: 20px;
    padding-top: 70px;
    padding-left: 25px;
    overflow-y: auto;
    z-index: 800;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
.category-main-modal {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 700;
  visibility: visible;
  opacity: 0;
  display: none;
  transition: all linear 0.2s;
}
@media screen and (max-width: 992px) {
  .category-main-modal-show {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
}
.sidebar-zalo {
  background-color: #1a2c75;
  padding: 20px;
  border-radius: 12px;
}
.sidebar-zalo img {
  width: 100%;
  object-fit: cover;
}
.sidebar-zalo p {
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}
.sidebar-contact {
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
.sidebar-contact a {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  transition: all linear 0.2s;
}
.sidebar-contact-call, .sidebar-contact-more {
  background-color: #1a2c75;
  color: #fff;
}
.sidebar-contact-call:hover, .sidebar-contact-more:hover {
  background-color: #b59d78;
  color: #1a2c75;
}
.sidebar-contact-zalo {
  border: 1px solid #1a2c75;
  color: #1a2c75;
}
.sidebar-contact-zalo:hover {
  background-color: #1a2c75;
  color: #fff;
}
.sidebar-support p {
  color: #333;
  font-weight: 700;
  text-align: center;
  line-height: 1.4em;
  padding-inline: 20px;
  margin-bottom: 10px;
}
.sidebar-support-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-inline: 10px;
}
.sidebar-support-avatar img {
  width: 33.3333333333%;
  max-width: 90px;
  object-fit: cover;
  border-radius: 8px;
}
.sidebar-title {
  background-color: #1a2c75;
  color: #fff;
  font-size: 15px;
  line-height: 1em;
  font-weight: 700;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.sidebar-list {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.sidebar-list-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.sidebar-list-item:first-child {
  border-top: unset;
}
.sidebar-list-item:hover {
  background-color: #f7f7f7;
}
.sidebar-list-item-link {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.sidebar-list-item-image {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  object-fit: cover;
}
.sidebar-list-item-text {
  color: #333;
  font-weight: 700;
  font-size: 14px;
}
.sidebar-close {
  border: unset;
  outline: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  display: none;
  position: absolute;
  top: 10px;
  left: 25px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 992px) {
  .sidebar-close {
    display: block;
  }
}

/*# sourceMappingURL=danh-muc-cha.css.map */
