.slideshow-homepage {
  position: relative;
  height: fit-content;
  margin-top: unset;
  margin-bottom: unset;
  z-index: 100;
}
.slideshow-image {
  --heigth: 600px;
  display: block;
  width: 100%;
  height: var(--heigth);
  min-height: var(--heigth);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slideshow .owl-nav {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.slideshow .owl-nav button[type=button][class*=owl-] {
  border-radius: 100rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  background-color: #fff;
  font-size: 30px;
  position: absolute;
  top: 40%;
}
.slideshow .owl-nav button[type=button][class*=owl-] {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.slideshow .owl-nav button[type=button][class*=owl-]:hover {
  color: inherit;
}
.slideshow .owl-nav .owl-prev {
  left: 20px;
}
.slideshow .owl-nav .owl-next {
  right: 20px;
}
.slideshow .owl-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slideshow .owl-dots {
  background-color: #fff;
  border-radius: 100rem;
  padding: 4px;
  bottom: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 48%;
  bottom: 20px;
}
.slideshow .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  line-height: 14px;
}
.slideshow .owl-dots .owl-dot span {
  margin: 4px 8px;
}

.gioi-thieu {
  background-color: #b59d78;
}
.gioi-thieu-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .gioi-thieu-title {
    font-size: 18px;
    font-weight: 600;
  }
}
.gioi-thieu-subtitle {
  text-align: center;
  margin-block: 20px;
}
.gioi-thieu-wrapper {
  margin-bottom: 20px;
}
.gioi-thieu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}
@media screen and (max-width: 992px) {
  .gioi-thieu-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
}
@media screen and (max-width: 576px) {
  .gioi-thieu-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.gioi-thieu-image {
  flex: 1 1 50%;
  max-width: 50%;
  height: 585px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .gioi-thieu-image {
    max-width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: unset;
  }
}
@media screen and (max-width: 576px) {
  .gioi-thieu-image {
    border-radius: unset;
  }
}
.gioi-thieu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .gioi-thieu-image img {
    height: auto;
  }
}
.gioi-thieu-content {
  flex: 0 0 50%;
  max-width: 50%;
  height: 585px;
  background-color: #1a2c75;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
@media screen and (max-width: 992px) {
  .gioi-thieu-content {
    max-width: 100%;
    border-bottom-left-radius: 12px;
    border-top-right-radius: unset;
  }
}
@media screen and (max-width: 576px) {
  .gioi-thieu-content {
    border-radius: unset;
  }
}
.gioi-thieu-content-wrapper {
  padding: 8%;
}
.gioi-thieu-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 992px) {
  .gioi-thieu-content-wrapper {
    padding: 15px;
  }
}
.gioi-thieu-content-subtitle {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}
@media screen and (max-width: 992px) {
  .gioi-thieu-content-subtitle {
    font-size: 22px;
  }
}
@media screen and (max-width: 576px) {
  .gioi-thieu-content-subtitle {
    font-size: 16px;
    font-weight: 500;
  }
}
.gioi-thieu-content-title {
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}
@media screen and (max-width: 992px) {
  .gioi-thieu-content-title {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  .gioi-thieu-content-title {
    font-size: 18px;
    font-weight: 600;
  }
}
.gioi-thieu-content-paragraph {
  color: #fff;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .gioi-thieu-content-paragraph {
    line-height: 1.5;
  }
}
.gioi-thieu-content blockquote {
  color: #fff;
  line-height: 1.6;
  font-size: 17px;
  text-align: justify;
}
.gioi-thieu-content-btn {
  display: block;
  width: fit-content;
  background-color: #fff;
  color: #1a2c75;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  border: unset;
  padding: 12px 20px;
  border-radius: 8px;
  margin-top: 20px;
}
.gioi-thieu-content-btn:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.in-logo-ly-thuy-tinh .title-wrapper {
  gap: 10px;
}
@media screen and (max-width: 576px) {
  .in-logo-ly-thuy-tinh .title-wrapper {
    gap: 15px;
  }
}
.in-logo-ly-thuy-tinh .title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}
.in-logo-ly-thuy-tinh .title-after {
  color: #fff;
  font-size: 14px;
  color: #ddd;
  font-weight: 500;
  text-align: center;
}

.in-logo-container {
  border-radius: 12px;
  max-height: 550px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .in-logo-container {
    max-height: 450px;
  }
}
@media screen and (max-width: 768px) {
  .in-logo-container {
    margin-inline: unset;
    max-height: 250px;
  }
}
.in-logo-container:hover .in-logo-background {
  transform: scale(1.1);
}
.in-logo-container::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  z-index: 100;
}
.in-logo-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  transform: scale(1);
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.2, 1), visibility 0.5s cubic-bezier(0.2, 1, 0.2, 1), transform 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .in-logo-background {
    aspect-ratio: unset;
  }
}
.in-logo-link {
  display: block;
  padding-inline: 60px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 200;
}
@media screen and (max-width: 768px) {
  .in-logo-link {
    top: 20px;
    padding-inline: 30px;
  }
}
.in-logo-wrapper {
  margin-block: 20px;
}
.in-logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media screen and (max-width: 768px) {
  .in-logo-wrapper {
    display: none;
  }
}
.in-logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1100px) {
  .in-logo-wrapper img {
    max-height: 200px;
  }
}
@media screen and (max-width: 576px) {
  .in-logo-wrapper img {
    scroll-snap-align: center;
  }
}
.in-logo-button {
  display: block;
  margin-inline: auto;
  background-color: #fff;
  color: #3e3e3e;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color linear 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-20px);
  z-index: 200;
}
.in-logo-button:hover {
  background-color: #dedede;
}
.in-logo-button span {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

.ly-do-chon-iso {
  background-color: #f8efe0;
}
.ly-do-chon-iso-title .title-after {
  font-weight: 400;
}
.ly-do-chon-iso-title .subtitle {
  display: none;
}
@media screen and (max-width: 768px) {
  .ly-do-chon-iso-convert {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
  }
}
.ly-do-chon-iso-wrapper {
  --columns: 3;
  --gap: 20px;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);
  padding-inline: 15px;
  margin-block: 30px;
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .ly-do-chon-iso-wrapper {
    --gap: 8px;
  }
  .ly-do-chon-iso-wrapper .featured-service {
    padding-inline: 10px;
  }
}
@media screen and (max-width: 992px) {
  .ly-do-chon-iso-wrapper {
    --gap: 12px;
    padding-block: 20px;
  }
}
@media screen and (max-width: 768px) {
  .ly-do-chon-iso-wrapper {
    grid-template-columns: unset;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    overflow-x: auto;
    margin-bottom: 15px;
  }
  .ly-do-chon-iso-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    line-height: 8px;
  }
  .ly-do-chon-iso-wrapper::-webkit-scrollbar-thumb {
    background-color: #1a2c75;
    border-radius: 4px;
  }
  .ly-do-chon-iso-wrapper::-webkit-scrollbar-track {
    background-color: #f8f8f8;
  }
}
.ly-do-chon-iso-banner {
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .ly-do-chon-iso-banner {
    margin-top: 15px;
  }
}
.ly-do-chon-iso-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-service {
  border-radius: 12px;
  background-color: transparent;
  padding-inline: 15px;
}
.featured-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 15px;
}
@media screen and (max-width: 992px) {
  .featured-service {
    padding-inline: 10px;
  }
}
@media screen and (max-width: 768px) {
  .featured-service {
    scroll-snap-align: center;
    word-break: break-word;
  }
}
.featured-service-image {
  border-radius: 100%;
}
.featured-service-image {
  width: 150px;
  height: 150px;
  line-height: 150px;
}
@media screen and (max-width: 576px) {
  .featured-service-image {
    width: 140px;
    height: 140px;
    line-height: 140px;
  }
}
.featured-service-title {
  color: #1a2c75;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.featured-service-desc {
  text-align: center;
  text-align-last: center;
  line-height: 24px;
}
@media screen and (max-width: 576px) {
  .featured-service-desc {
    text-align: justify;
    font-size: 15px;
  }
}

.chai-thuy-tinh-cat {
  --heigth-content: 90px;
  background-color: #c0d1d6;
}
.chai-thuy-tinh-cat-wrapper {
  --columns: 4;
  --gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--gap);
  margin-top: 10px;
}
@media screen and (max-width: 576px) {
  .chai-thuy-tinh-cat-wrapper {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.chai-thuy-tinh-pro-banner {
  margin-top: 20px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.chai-thuy-tinh-pro-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform ease 0.3s;
}
.chai-thuy-tinh-pro-banner:hover img {
  transform: scale(1.05);
}
.chai-thuy-tinh-pro-wrapper {
  --columns: 3;
  --gap: 15px;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);
  margin-block: 20px;
}
@media screen and (max-width: 576px) {
  .chai-thuy-tinh-pro-wrapper {
    --columns: 2;
    --gap: 10px;
  }
}

.vo-hop-ruou {
  background-color: #1a2c75;
}
.vo-hop-ruou .title-wrapper {
  padding-block: 20px;
}
.vo-hop-ruou .title {
  color: #fff;
}
.vo-hop-ruou .subtitle {
  background-color: #fff;
  color: #1a2c75;
  font-weight: 600;
}
.vo-hop-ruou .title-after {
  color: #fff;
  font-weight: 400;
}
.vo-hop-ruou-product-item {
  border-radius: 12px;
  cursor: pointer;
  position: relative;
}
.vo-hop-ruou-product-item img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.vo-hop-ruou-product-hover {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
  opacity: 0;
  border-radius: 12px;
  transition: all linear 0.5s;
}
.vo-hop-ruou-product-hover-btn {
  max-width: 150px;
  border: unset;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: all ease 0.3s;
}
.vo-hop-ruou-product-hover-btn:hover {
  background-color: #1a2c75;
  color: #fff;
}
.vo-hop-ruou-product-contact {
  text-align: center;
  margin-top: 20px;
}
.vo-hop-ruou-product-contact-button {
  background-color: #fff;
  color: #1a2c75;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 8px;
  margin-inline: auto;
}
.vo-hop-ruou-product-contact-button:hover {
  background-color: #b59d78;
}

.vo-hop-ruou-product-item:hover .vo-hop-ruou-product-hover {
  opacity: 1;
}
.vo-hop-ruou-product-item:hover .vo-hop-ruou-product-hover-btn {
  transform: translate(-50%, -50%);
  opacity: 1;
}

#vohopdungruou .owl-prev, #vohopdungruou .owl-next {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
#vohopdungruou .owl-prev, #vohopdungruou .owl-next {
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  color: #1a2c75;
  background-color: #fff;
  border: 2px solid #fff;
  transition: all linear 0.2s;
}
#vohopdungruou .owl-prev:hover, #vohopdungruou .owl-next:hover {
  background-color: #1a2c75;
  color: #fff;
}
#vohopdungruou .owl-dot.active span {
  background-color: #b59d78;
}
#vohopdungruou .owl-dots {
  margin-top: 20px;
}
#vohopdungruou .owl-nav {
  margin-top: 20px;
}

.ly-thuy-tinh-cat {
  background-color: #c0d1d6;
}
.ly-thuy-tinh-cat-wrapper {
  --gap: 15px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: var(--gap);
}
@media screen and (max-width: 992px) {
  .ly-thuy-tinh-cat-wrapper {
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .ly-thuy-tinh-cat-wrapper {
    --gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
  }
}
.ly-thuy-tinh-cat-wrapper .category-item-1-wrapper:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}
.ly-thuy-tinh-cat-wrapper .category-item-1-hover {
  transform: unset;
}

.ly-thuy-tinh-pro-banner {
  margin-top: 20px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.ly-thuy-tinh-pro-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform ease 0.3s;
}
.ly-thuy-tinh-pro-banner:hover img {
  transform: scale(1.05);
}
.ly-thuy-tinh-pro-wrapper {
  --columns: 3;
  --gap: 15px;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);
  margin-block: 20px;
}
@media screen and (max-width: 992px) {
  .ly-thuy-tinh-pro-wrapper {
    --gap: 10px;
  }
}
@media screen and (max-width: 576px) {
  .ly-thuy-tinh-pro-wrapper {
    --columns: 2;
  }
}

.binh-thuy-tinh-wrapper {
  margin-top: 20px;
  --gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
}
@media screen and (max-width: 992px) {
  .binh-thuy-tinh-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .binh-thuy-tinh-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.khach-hang-isoglass {
  background-color: #f9f9f9;
  padding-block: 40px;
}
.khach-hang-isoglass .title {
  font-size: 28px;
}
.khach-hang-isoglass .title-after {
  font-weight: 400;
}
.khach-hang-isoglass .owl-stage-outer {
  margin-top: 20px;
}
.khach-hang-isoglass .owl-prev,
.khach-hang-isoglass .owl-next {
  position: absolute;
  top: 20%;
  z-index: 350;
  transition: all ease-in-out 0.2s;
}
.khach-hang-isoglass .owl-prev {
  left: -7%;
  visibility: hidden;
  opacity: 0;
}
.khach-hang-isoglass .owl-next {
  right: -7%;
  visibility: hidden;
  opacity: 0;
}
.khach-hang-isoglass .owl-carousel::before, .khach-hang-isoglass .owl-carousel::after {
  content: "";
  width: 70px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 300;
}
.khach-hang-isoglass .owl-carousel::before {
  left: -70px;
}
.khach-hang-isoglass .owl-carousel::after {
  right: -70px;
}
.khach-hang-isoglass .owl-carousel:hover .owl-prev {
  left: -5%;
  visibility: visible;
  opacity: 1;
}
.khach-hang-isoglass .owl-carousel:hover .owl-next {
  right: -5%;
  visibility: visible;
  opacity: 1;
}

.khach-hang-item {
  cursor: pointer;
  overflow: hidden;
}
.khach-hang-image {
  border-radius: 12px;
}

.cam-nhan-khach-hang .owl-carousel {
  margin-top: 20px;
}
.cam-nhan-khach-hang .owl-stage-outer {
  padding-top: 15px;
  padding-bottom: 15px;
}
.cam-nhan-khach-hang .owl-prev,
.cam-nhan-khach-hang .owl-next {
  position: absolute;
  top: 20%;
  z-index: 350;
  transition: all ease-in-out 0.2s;
}
.cam-nhan-khach-hang .owl-prev {
  left: -7%;
  visibility: hidden;
  opacity: 0;
}
.cam-nhan-khach-hang .owl-next {
  right: -7%;
  visibility: hidden;
  opacity: 0;
}
.cam-nhan-khach-hang .owl-carousel::before, .cam-nhan-khach-hang .owl-carousel::after {
  content: "";
  width: 70px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 300;
}
.cam-nhan-khach-hang .owl-carousel::before {
  left: -70px;
}
.cam-nhan-khach-hang .owl-carousel::after {
  right: -70px;
}
.cam-nhan-khach-hang .owl-carousel:hover .owl-prev {
  left: -5%;
  visibility: visible;
  opacity: 1;
}
.cam-nhan-khach-hang .owl-carousel:hover .owl-next {
  right: -5%;
  visibility: visible;
  opacity: 1;
}

.cam-nhan-item {
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
}
.cam-nhan-avatar {
  width: 70px;
  height: 70px;
  line-height: 70px;
}
.cam-nhan-avatar {
  border-radius: 100rem;
  margin: 0 auto;
  overflow: hidden;
}
.cam-nhan-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cam-nhan-content {
  padding-block: 20px;
}
.cam-nhan-content p {
  text-align: center;
  line-height: 24px;
  font-size: 15px;
}
.cam-nhan-name {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4px;
}
.cam-nhan-job {
  text-align: center;
  font-size: 14px;
  color: #868686;
}

.tem-nhan-chai-ruou .title-wrapper {
  margin-bottom: 30px;
}
.tem-nhan-chai-ruou .title-after {
  font-weight: 400;
  font-size: 14px;
}
.tem-nhan-chai-ruou-item {
  border-radius: 12px;
  min-width: 276px;
  position: relative;
  overflow: hidden;
}
.tem-nhan-chai-ruou-image {
  border-radius: 12px;
  overflow: hidden;
}
.tem-nhan-chai-ruou-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all linear 0.3s;
}
.tem-nhan-chai-ruou-hover {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 300;
  transition: all ease 0.5s;
}
.tem-nhan-chai-ruou-hover-btn {
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: unset;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.2, 1), visibility 0.5s cubic-bezier(0.2, 1, 0.2, 1), transform 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}
.tem-nhan-chai-ruou-hover-btn:hover {
  background-color: #1a2c75;
  color: #fff;
}
.tem-nhan-chai-ruou-button {
  margin-top: 4px;
  text-align: center;
}
.tem-nhan-chai-ruou-button a {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 20px;
  line-height: 32px;
  min-width: 200px;
}

.tem-nhan-chai-ruou-item:hover .tem-nhan-chai-ruou-hover {
  opacity: 1;
  visibility: visible;
}
.tem-nhan-chai-ruou-item:hover .tem-nhan-chai-ruou-hover-btn {
  transform: translate(-50%, -50%);
}

.con-so-noi-bat {
  background-image: url("../../images/hosting/about-us-3-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-block: 40px;
}

.con-so-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.con-so-wrapper {
  padding-inline: 15px;
}
@media screen and (max-width: 768px) {
  .con-so-wrapper {
    flex-direction: column;
    padding-inline: unset;
  }
}
.con-so-title {
  flex: 0 0 30%;
}
@media screen and (max-width: 992px) {
  .con-so-title {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 768px) {
  .con-so-title {
    flex-basis: 100%;
  }
}
.con-so-title .title {
  color: #fff;
  font-weight: 700;
  font-size: 33px;
  line-height: 3rem;
  text-align: unset;
}
@media screen and (max-width: 768px) {
  .con-so-title .title {
    font-size: 20px;
    line-height: 2rem;
  }
}
.con-so-title .title-wrapper {
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .con-so-title .title-wrapper {
    text-align: center;
    align-items: center;
  }
}
.con-so-title .subtitle {
  padding-left: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.con-so-box {
  flex: 0 0 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 768px) {
  .con-so-box {
    flex: 1 1 100%;
    margin-top: 15px;
    width: 100%;
  }
}
.con-so-box-item {
  padding: 30px;
  text-align: center;
}
.con-so-box-item-number {
  display: block;
  color: #fff;
  font-size: 34px;
  font-weight: 700;
}
.con-so-box-item-title {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
}
@media screen and (max-width: 576px) {
  .con-so-box-item-title {
    font-size: 14px;
  }
}
.con-so-box-item:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.con-so-box-item:nth-child(2) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.con-so-box-item:nth-child(3) {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.con-so-box-item:nth-child(4) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.con-so-box-item:nth-child(5) {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.gioi-thieu {
  margin-top: 0px;
  padding-block: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ly-do-chon-iso {
  margin-block: 0px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.chai-thuy-tinh-cat {
  margin-block: unset;
  padding-top: 40px;
  padding-bottom: 60px;
}

.vo-hop-ruou {
  padding-top: 15px;
  padding-bottom: 40px;
  margin-bottom: unset;
}

.ly-thuy-tinh-cat {
  margin-top: unset;
  padding-top: 25px;
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.ly-thuy-tinh-pro {
  margin-top: 25px;
  margin-bottom: 25px;
}

.in-logo-ly-thuy-tinh {
  margin-bottom: 20px;
  margin-top: 20px;
}

.con-so-noi-bat {
  margin-bottom: unset;
}

.khach-hang-isoglass {
  margin-top: unset;
  margin-bottom: unset;
}

/*# sourceMappingURL=home.css.map */
