@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
}
.sidebar-zalo {
  background-color: #1a2c75;
  padding: 20px;
  border-radius: 12px;
}
.sidebar-zalo img {
  width: 100%;
  object-fit: cover;
}
.sidebar-zalo p {
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}
.sidebar-contact {
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
.sidebar-contact a {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  transition: all linear 0.2s;
}
.sidebar-contact-call, .sidebar-contact-more {
  background-color: #1a2c75;
  color: #fff;
}
.sidebar-contact-call:hover, .sidebar-contact-more:hover {
  background-color: #b59d78;
  color: #1a2c75;
}
.sidebar-contact-zalo {
  border: 1px solid #1a2c75;
  color: #1a2c75;
}
.sidebar-contact-zalo:hover {
  background-color: #1a2c75;
  color: #fff;
}
.sidebar-support p {
  color: #333;
  font-weight: 700;
  text-align: center;
  line-height: 1.4em;
  padding-inline: 20px;
  margin-bottom: 10px;
}
.sidebar-support-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-inline: 10px;
}
.sidebar-support-avatar img {
  width: 33.3333333333%;
  max-width: 90px;
  object-fit: cover;
  border-radius: 8px;
}
.sidebar-close {
  border: unset;
  outline: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  display: none;
  position: absolute;
  top: 10px;
  left: 25px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 992px) {
  .sidebar-close {
    display: block;
  }
}

.comment-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.comment-reviews {
  flex: 0 0 80%;
}
.comment-respond {
  flex: 0 0 20%;
}

.con-so-noi-bat {
  background-image: url("../../images/hosting/about-us-3-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-block: 40px;
}

.con-so-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-inline: 15px;
}
@media screen and (max-width: 768px) {
  .con-so-wrapper {
    flex-direction: column;
    padding-inline: unset;
  }
}
.con-so-title {
  flex: 0 0 30%;
}
@media screen and (max-width: 992px) {
  .con-so-title {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 768px) {
  .con-so-title {
    flex-basis: 100%;
  }
}
.con-so-title .title {
  color: #fff;
  font-weight: 700;
  font-size: 33px;
  line-height: 3rem;
  text-align: unset;
}
@media screen and (max-width: 768px) {
  .con-so-title .title {
    font-size: 20px;
    line-height: 2rem;
  }
}
.con-so-title .title-wrapper {
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .con-so-title .title-wrapper {
    text-align: center;
    align-items: center;
  }
}
.con-so-title .subtitle {
  padding-left: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.con-so-box {
  flex: 0 0 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 768px) {
  .con-so-box {
    flex: 1 1 100%;
    margin-top: 15px;
    width: 100%;
  }
}
.con-so-box-item {
  padding: 30px;
  text-align: center;
}
.con-so-box-item-number {
  display: block;
  color: #fff;
  font-size: 34px;
  font-weight: 700;
}
.con-so-box-item-title {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
}
@media screen and (max-width: 576px) {
  .con-so-box-item-title {
    font-size: 14px;
  }
}
.con-so-box-item:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.con-so-box-item:nth-child(2) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.con-so-box-item:nth-child(3) {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.con-so-box-item:nth-child(4) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.con-so-box-item:nth-child(5) {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.review-and-rating-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 15px;
}

.review-wrapper {
  flex: 0 0 65%;
  padding-block: 10px;
}
.review-list {
  width: 100%;
  max-height: 650px;
  overflow-y: auto;
  padding-right: 14px;
}
.review-list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.review-list::-webkit-scrollbar-thumb {
  background-color: #1a2c75;
  border-radius: 4px;
}
.review-list::-webkit-scrollbar-track {
  background-color: #f8f8f8;
}
.review-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
  padding-bottom: 30px;
  padding-top: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.review-item-avatar {
  flex: 0 0 12%;
  max-width: 80px;
}
.review-item-avatar img {
  border-radius: 100rem;
  width: 100%;
  object-fit: cover;
}
.review-item-comment {
  flex: 0 0 85%;
  padding-right: 20px;
}
.review-item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.review-item-info-name span {
  font-weight: 700;
  font-size: 18px;
  color: #1a2c75;
}
.review-item-info-date span {
  color: rgba(51, 51, 51, 0.5);
}
.review-item-content p {
  font-size: 16px;
  line-height: 24px;
}
.review-item-reply a {
  color: #1a2c75;
  font-weight: 700;
  text-transform: uppercase;
}

.rating-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-block: 10px;
}
.rating-title {
  color: #1a2c75;
  font-size: 18px;
  font-weight: 600;
  margin-block: unset;
  line-height: 28px;
}
.rating-notes {
  margin-block: unset;
}
.rating-star-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.rating-star-icon {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.rating-comment-title {
  display: block;
  margin-bottom: 4px;
}
.rating-comment-content {
  width: 100%;
  height: 180px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 8px;
  padding: 15px;
}
.rating-author {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 4px;
}
.rating-author-input {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
}
.rating-email {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 4px;
}
.rating-email-input {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 8px;
  padding: 10px 15px;
}
.rating-submit-button {
  background-color: #1a2c75;
  border-radius: 8px;
  color: #fff;
  padding: 10px 12px;
  font-weight: 600;
  cursor: pointer;
}

.tem-nhan-chai-ruou .title-wrapper {
  margin-bottom: 30px;
}
.tem-nhan-chai-ruou .title-after {
  font-weight: 400;
  font-size: 14px;
}
.tem-nhan-chai-ruou-item {
  border-radius: 12px;
  min-width: 276px;
  position: relative;
  overflow: hidden;
}
.tem-nhan-chai-ruou-image {
  border-radius: 12px;
  overflow: hidden;
}
.tem-nhan-chai-ruou-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all linear 0.3s;
}
.tem-nhan-chai-ruou-hover {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 300;
  transition: all ease 0.5s;
}
.tem-nhan-chai-ruou-hover-btn {
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: unset;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.2, 1), visibility 0.5s cubic-bezier(0.2, 1, 0.2, 1), transform 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}
.tem-nhan-chai-ruou-hover-btn:hover {
  background-color: #1a2c75;
  color: #fff;
}
.tem-nhan-chai-ruou-button {
  margin-top: 4px;
  text-align: center;
}
.tem-nhan-chai-ruou-button a {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 20px;
  line-height: 32px;
  min-width: 200px;
}

.tem-nhan-chai-ruou-item:hover .tem-nhan-chai-ruou-hover {
  opacity: 1;
  visibility: visible;
}
.tem-nhan-chai-ruou-item:hover .tem-nhan-chai-ruou-hover-btn {
  transform: translate(-50%, -50%);
}

p {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: justify;
  margin-block: 10px;
}

h2 {
  color: #1a2c75;
  font-size: 26px;
  font-weight: 700;
  margin-block: 10px;
}

h3 {
  margin-block: 10px;
  color: #1a2c75;
  font-weight: 700;
  font-size: 20px;
}

figcaption {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-block: 10px;
}

a {
  color: #1a2c75;
}

.category-main-breadcrumb {
  text-align: center;
}
.category-main-breadcrumb ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.category-main-breadcrumb li {
  color: #1a2c75;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}
.category-main-short {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333;
}
.category-main-heading {
  color: #1a2c75;
  font-size: 1.6em;
  line-height: 2em;
  font-weight: 600;
  text-align: center;
}
.category-main-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}
.category-main-rating span {
  font-weight: 600;
}
.category-main-rating-star {
  color: #f7c600;
  font-size: 20px;
}
.category-main-rating-star i.fa {
  margin-left: 4px;
}
.category-main-wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
}
@media screen and (max-width: 992px) {
  .category-main-wrapper {
    position: relative;
  }
}
@media screen and (max-width: 992px) {
  .category-main-content {
    flex-basis: 100%;
  }
}
.category-main-content-extra img {
  margin-block: 10px;
  margin-top: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.category-main-cate-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
}
.category-main-products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}
.category-main-products-wrapper .product-item-1-title {
  font-size: 15px;
}
.category-main-sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 15px;
  background-color: #fff;
  padding-left: 15px;
}
@media screen and (max-width: 992px) {
  .category-main-sidebar {
    flex-basis: 30vw;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding-inline: 20px;
    padding-top: 70px;
    padding-left: 25px;
    overflow-y: auto;
    z-index: 800;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
.category-main-modal {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 700;
  visibility: visible;
  opacity: 0;
  display: none;
  transition: all linear 0.2s;
}
@media screen and (max-width: 992px) {
  .category-main-modal-show {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.sidebar-title {
  background-color: #1a2c75;
  color: #fff;
  font-size: 15px;
  line-height: 1em;
  font-weight: 700;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-bottom: unset;
  margin-top: unset;
}
.sidebar-list {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.sidebar-list-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.sidebar-list-item:first-child {
  border-top: unset;
}
.sidebar-list-item:hover {
  background-color: #f7f7f7;
}
.sidebar-list-item-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
}
.sidebar-list-item-image {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  object-fit: cover;
}
.sidebar-list-item-text {
  display: block;
  width: 100%;
  color: #333;
  font-weight: 700;
  font-size: 14px;
  text-wrap: nowrap;
}

/*# sourceMappingURL=main-cate.css.map */
