@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

strong {
  font-weight: bold;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-margin-top: 50px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
@media screen and (max-width: 1200px) {
  .container {
    padding-inline: 15px;
  }
}

.container-fluid {
  width: 100%;
  padding-inline: 15px;
}

section {
  margin-top: 40px;
  margin-bottom: 40px;
}

body {
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
}

.btn-product-readmore {
  --width: 90px;
  --height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.btn-product-readmore::before {
  content: "Liên hệ";
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(calc(1 * var(--height)));
  transition: transform ease-in-out 0.2s;
}
.btn-product-readmore span {
  position: absolute;
  transform: translateY(0);
  transition: transform ease-in-out 0.2s;
}
.btn-product-readmore:hover span {
  transform: translateY(calc(-1 * var(--height)));
}
.btn-product-readmore:hover::before {
  transform: translateY(0);
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.title-wrapper .subtitle {
  background-color: #1a2c75;
  color: #fff;
  padding: 4px 10px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  .title-wrapper .subtitle {
    font-size: 14px;
    font-weight: 600;
  }
}
.title-wrapper .title {
  font-size: 24px;
  color: #1a2c75;
  text-transform: inherit;
  font-weight: 600;
  text-align: center;
}
.title-wrapper .title-after {
  text-align: center;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  line-height: 26px;
}
@media screen and (max-width: 576px) {
  .title-wrapper .title-after {
    width: 100%;
  }
}

.topbar {
  height: 30px;
  background-color: #1a2c75;
}
@media screen and (max-width: 576px) {
  .topbar {
    height: fit-content;
    padding-block: 6px;
  }
  .topbar h1 {
    text-wrap: wrap;
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .header .container {
    padding-inline: unset;
  }
}
.header-heading {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
}
.header-main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .header-main {
    flex-direction: column;
    row-gap: 28px;
    padding-bottom: 0px;
  }
}
.header-left {
  max-width: 250px;
  flex: 0 0 250px;
}
@media screen and (max-width: 992px) {
  .header-left {
    flex: 0 0 100%;
    max-width: 100%;
    padding-block: 4px;
  }
}
.header-right {
  max-width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .header-right {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: space-between;
    padding-inline: 15px;
    padding-block: 4px;
  }
}
@media screen and (max-width: 768px) {
  .header-right {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}
.header-right-menu {
  background-color: unset;
  border: unset;
  padding-block: 8px;
  padding-right: 15px;
  color: #333;
  font-size: 18px;
  transition: color ease 0.2s;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 992px) {
  .header-right-menu {
    display: block;
  }
}
.header-right-menu:hover {
  color: #bfd2d7;
}
.header-right-menu span {
  margin-left: 6px;
  color: inherit;
  font-size: inherit;
  font-weight: 500;
}
.header-right-hotline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: initial;
  border-radius: 8px;
  background-color: #1a2c75;
}
.header-right-hotline i {
  display: none;
}
.header-right-hotline span {
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .header-right-hotline {
    background-color: unset;
    color: #1a2c75;
    font-weight: 600;
    font-size: 18px;
    text-align: right;
  }
  .header-right-hotline span {
    display: none;
  }
  .header-right-hotline i {
    display: inline-block;
    margin-right: 8px;
    font-size: 24px;
  }
}
.header-logo {
  display: block;
  max-width: 250px;
}
@media screen and (max-width: 992px) {
  .header-logo {
    margin: 0 auto;
  }
}
.header-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu {
  display: block;
  background-color: #1a2c75;
  padding-block: 4px;
  border-bottom: 0.5px solid #fff;
}
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .menu {
    background-color: #fff;
    width: 50vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    overflow-y: auto;
    padding-bottom: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .menu::-webkit-scrollbar {
    width: 6px;
  }
  .menu::-webkit-scrollbar-thumb {
    background-color: #1a2c75;
    border-radius: 20px;
  }
}
.menu-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .menu-wrapper {
    padding-top: 20px;
  }
}
.menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
@media screen and (max-width: 992px) {
  .menu-list {
    display: block;
  }
  .menu-list li.menu-list-item:first-child {
    border-top: unset;
  }
}
.menu-list-item {
  position: relative;
}
@media screen and (max-width: 992px) {
  .menu-list-item {
    position: unset;
    border-top: 1px solid #eee;
  }
}
.menu-list-item:hover .menu-child {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
@media screen and (max-width: 992px) {
  .menu-list-item:hover .menu-child {
    opacity: unset;
    visibility: unset;
    transform: unset;
  }
}
.menu-list-item:hover:hover .menu-list-item-link span {
  opacity: 0.8;
}
.menu-list-item:hover:hover i.fa {
  transform: rotateX(180deg);
}
@media screen and (max-width: 992px) {
  .menu-list-item:hover:hover i.fa {
    transform: initial;
  }
}
.menu-list-item-link {
  display: block;
  color: #fff;
  padding-block: 10px;
  padding-inline: 8px;
}
@media screen and (max-width: 992px) {
  .menu-list-item-link {
    color: #1a2c75;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    padding-block: unset;
    line-height: 50px;
  }
}
.menu-list-item-link span {
  color: inherit;
  font-size: 20px;
  font-weight: 500;
  transition: opacity linear 0.2s;
}
.menu-list-item-link i.fa {
  margin-left: 8px;
  font-weight: bold;
  transition: transform linear 0.3s;
}

.menu-child {
  width: fit-content;
  min-width: 250px;
  height: auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s cubic-bezier(0.2, 1, 0.2, 1), visibility 0.4s cubic-bezier(0.2, 1, 0.2, 1), transform 0.4s cubic-bezier(0.2, 1, 0.2, 1);
}
@media screen and (max-width: 992px) {
  .menu-child {
    position: unset;
    box-shadow: unset;
    border: unset;
    width: 100%;
    opacity: unset;
    visibility: unset;
    transform: unset;
  }
}
.menu-child::before {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}
.menu-child-wrapper {
  width: fit-content;
  min-width: inherit;
  padding-block: 10px;
  border: 1px solid #eee;
  border-radius: 12px;
}
@media screen and (max-width: 992px) {
  .menu-child-wrapper {
    border: unset;
    border-radius: unset;
    max-width: unset;
    width: 100%;
    padding-top: unset;
  }
}
@media screen and (max-width: 992px) {
  .menu-child-item {
    border-top: 1px solid #eee;
  }
}
.menu-child-item-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding-block: 6px;
  padding-left: 20px;
}
@media screen and (max-width: 992px) {
  .menu-child-item-link {
    line-height: 50px;
    padding-block: unset;
    padding-left: 40px;
  }
}
.menu-child-item-link span {
  font-size: 15px;
  font-weight: 400;
  text-wrap: nowrap;
  color: #848484;
  transition: color linear 0.2s;
}
.menu-child-item-link:hover span {
  color: #1a2c75;
}
.menu-child-item-icon {
  object-fit: cover;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.menu-active {
  background-color: #1a2c75;
  color: #fff;
}

.menu-btn-close {
  display: none;
}
@media screen and (max-width: 992px) {
  .menu-btn-close {
    display: block;
    background-color: #f8f8f8;
    width: 30px;
    height: 30px;
    color: #333;
    border-radius: 8px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
  }
}

.footer {
  margin-top: 40px;
  background-color: #1a2c75;
  padding-top: 40px;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 300px auto 250px;
  column-gap: 20px;
}
@media screen and (max-width: 992px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.footer-column-mid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
}
@media screen and (max-width: 992px) {
  .footer-column-mid {
    height: fit-content;
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .footer-column-mid {
    grid-template-columns: auto;
    row-gap: 20px;
  }
}
.footer-header {
  font-weight: 700;
  color: #333;
  background-color: #bfd1d7;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 15px;
}
.footer-download {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .footer-download {
    flex-direction: column;
  }
}
.footer-download-btn {
  background-color: #99a8a1;
  border-radius: 4px;
  border: unset;
  width: 100px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color linear 0.2s;
}
.footer-download-btn:hover {
  background-color: #b59d78;
}
@media screen and (max-width: 576px) {
  .footer-download-btn {
    width: 100%;
    margin-inline: auto;
  }
}
.footer-download span {
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .footer-download span {
    text-align: center;
  }
}
.footer-social {
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  .footer-social {
    margin-top: unset;
  }
}
@media screen and (max-width: 576px) {
  .footer-social {
    margin-inline: auto;
  }
}
.footer-social-header {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .footer-social-header {
    text-align: center;
    margin-top: 20px;
  }
}
.footer-social-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 15px;
  max-width: fit-content;
}
@media screen and (max-width: 576px) {
  .footer-social-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .footer-social-list {
    max-width: unset;
    padding-inline: 15px;
  }
}
.footer-social-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  border: 1px solid #fff;
  background-color: #1a2c75;
  transition: all linear 0.3s;
  cursor: pointer;
}
.footer-social-list-item a {
  color: #fff;
}
.footer-social-list-item:hover {
  background-color: #c1a887;
}
.footer-social-list-item:hover i {
  color: #1a2c75;
}
@media screen and (max-width: 992px) {
  .footer-social-list-item:hover {
    background-color: initial;
  }
}
.footer-logo {
  display: block;
  margin-bottom: 10px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-legal-header {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  .footer-legal-header {
    margin-top: unset;
  }
}
.footer-legal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.footer-legal-wrapper a {
  border-radius: 12px;
  display: block;
  max-width: 200px;
  overflow: hidden;
}
.footer-legal-wrapper a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-copy {
  margin-top: 40px;
  padding-block: 15px;
  border-top: 1px solid #fff;
}
.footer-copy p {
  text-align: center;
  color: #fff;
}

.footer-inner-wrapper .footer-info {
  margin-top: 12px;
}
.footer-inner-wrapper .footer-info-list-item {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  margin-block: 6px;
}
.footer-inner-wrapper .footer-info-list-item span {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-wrap: wrap;
}
.footer-inner-wrapper .footer-info-list-item i.fa {
  margin-right: 10px;
  font-size: 18px;
}
.footer-inner-wrapper .footer-info-list-item a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.footer-inner-list .footer-info-list {
  border: 1px solid #2b5089;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.footer-inner-list .footer-info-list-item {
  color: #fff;
  background-color: #1a2c75;
  border-top: 1px solid #2b5089;
  transition: all linear 0.2s;
}
.footer-inner-list .footer-info-list-item:hover {
  background-color: #c1a887;
}
.footer-inner-list .footer-info-list-item:hover a {
  color: #1a2c75;
}
@media screen and (max-width: 992px) {
  .footer-inner-list .footer-info-list-item:hover {
    background-color: initial;
  }
  .footer-inner-list .footer-info-list-item:hover a {
    color: inherit;
  }
}
.footer-inner-list .footer-info-list-item a {
  display: block;
  padding-block: 12px;
  padding-left: 12px;
  color: inherit;
  font-size: 15px;
  transition: color linear 0.2s;
}
.footer-inner-list .footer-info-list-item a span {
  font-weight: 600;
  color: inherit;
  font-size: inherit;
  text-wrap: nowrap;
}

@media screen and (max-width: 992px) {
  .footer-column-5 .footer-inner-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .footer-column-5 .footer-inner-wrapper {
    grid-template-columns: 30% 40% 30%;
    row-gap: 10px;
  }
}
@media screen and (max-width: 576px) {
  .footer-column-5 .footer-inner-wrapper {
    grid-template-columns: auto;
  }
}

/*# sourceMappingURL=main.css.map */
