@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
}
.sidebar-zalo {
  background-color: #1a2c75;
  padding: 20px;
  border-radius: 12px;
}
.sidebar-zalo img {
  width: 100%;
  object-fit: cover;
}
.sidebar-zalo p {
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}
.sidebar-contact {
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.sidebar-contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
}
.sidebar-contact a {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  transition: all linear 0.2s;
}
.sidebar-contact-call, .sidebar-contact-more {
  background-color: #1a2c75;
  color: #fff;
}
.sidebar-contact-call:hover, .sidebar-contact-more:hover {
  background-color: #b59d78;
  color: #1a2c75;
}
.sidebar-contact-zalo {
  border: 1px solid #1a2c75;
  color: #1a2c75;
}
.sidebar-contact-zalo:hover {
  background-color: #1a2c75;
  color: #fff;
}
.sidebar-support p {
  color: #333;
  font-weight: 700;
  text-align: center;
  line-height: 1.4em;
  padding-inline: 20px;
  margin-bottom: 10px;
}
.sidebar-support-avatar {
  padding-inline: 10px;
}
.sidebar-support-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.sidebar-support-avatar img {
  width: 33.3333333333%;
  max-width: 90px;
  object-fit: cover;
  border-radius: 8px;
}
.sidebar-close {
  border: unset;
  outline: none;
  border-radius: 4px;
  display: none;
  position: absolute;
  top: 10px;
  left: 25px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.sidebar-close {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
@media screen and (max-width: 992px) {
  .sidebar-close {
    display: block;
  }
}

.sidebar-post {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 12px;
  margin-bottom: 15px;
}
.sidebar-post-title {
  color: #fff;
  background-color: #1a2c75;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 15px 20px;
  font-weight: 600;
}
.sidebar-post-list {
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
  list-style: none;
}
.sidebar-post-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.sidebar-post-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.sidebar-post-item a {
  padding-block: 10px;
  padding-inline: 20px;
}
.sidebar-post-item a span {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
.sidebar-post-item a img {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.sidebar-post-item a img {
  object-fit: cover;
  border-radius: 4px;
}
.sidebar-post-item:hover {
  background-color: #f7f7f7;
}

.page-title-entry {
  color: #fff;
  font-size: clamp(1.8rem, 2.5vw, 4rem);
  line-height: clamp(2.5rem, 3vw, 5rem);
}

.main-post-wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
}
@media screen and (max-width: 992px) {
  .main-post-wrapper {
    grid-template-columns: unset;
  }
}

.post-main {
  width: auto;
  height: auto;
}
.post-sidebar {
  padding-left: 20px;
}
.post-header {
  color: #1a2c75;
  font-size: clamp(1.5rem, 2vw, 4rem);
  line-height: clamp(2rem, 3vw, 5rem);
  font-weight: 700;
  margin-block: 15px;
}
.post-header h1 {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
.post-date-update {
  color: #969696;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 8px;
}
.post-overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.post-overview {
  margin-bottom: 10px;
  max-height: 30px;
}
.post-overview span {
  color: #1a2c75;
  font-size: 15px;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .post-overview {
    max-height: unset;
    flex-direction: column;
    align-items: flex-start;
    gap: unset;
  }
}
.post-comment, .post-rating, .post-viewed {
  position: relative;
}
@media screen and (max-width: 576px) {
  .post-comment, .post-rating, .post-viewed {
    max-height: 30px;
  }
}
.post-comment i.fa, .post-rating i.fa, .post-viewed i.fa {
  font-size: 16px;
  font-weight: 400;
}
.post-rating-star {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  position: relative;
}
.post-rating-star a {
  color: #fd9530;
  font-size: 18px;
}
.post-short-desc {
  margin-bottom: 10px;
}
.post-short-desc p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #333;
}
@media screen and (max-width: 576px) {
  .post-short-desc p {
    text-align: justify;
  }
}
.post-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.post-image figcaption {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin-top: 4px;
  text-align: center;
  color: #5c5c5c;
}
.post-layout {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 12px;
}
.post-layout p {
  background-color: #b59d78;
  padding: 10px 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #1a2c75;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.post-layout-list {
  margin-top: 10px;
  list-style-type: decimal;
  padding-inline: 40px;
  padding-bottom: 20px;
}
.post-layout-list li {
  padding-top: 10px;
}
.post-layout-list li:hover > a {
  text-decoration: underline;
  color: #b59d78;
}
.post-layout-list li a {
  color: #1a2c75;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  cursor: pointer;
}
.post-layout-list-child {
  list-style: circle;
  padding-left: 15px;
}
.post-extra-desc h2,
.post-extra-desc h3 {
  color: #1a2c75;
  line-height: 28px;
  font-weight: 700;
}
.post-extra-desc h2 {
  font-size: 20px;
}
.post-extra-desc h3 {
  font-size: 18px;
}
.post-extra-desc img {
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
  margin-block: 15px;
}
.post-extra-desc p {
  text-align: justify;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  margin-block: 10px;
}
.post-footer p {
  color: #1a2c75;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-block: 15px;
}
.post-footer ul {
  list-style: disc;
  padding-left: 20px;
}
.post-footer li {
  margin-block: 10px;
}
.post-footer li a {
  color: #1a2c75;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: all ease 0.3s;
}
.post-footer li a:hover {
  color: #b59d78;
}
.post-sidebar {
  padding: 20px;
  background-color: #fff;
}
@media screen and (max-width: 992px) {
  .post-sidebar {
    padding-inline: 10px;
    width: 40vw;
    min-height: 100vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 900;
    transform: translateX(100%);
  }
}
@media screen and (max-width: 576px) {
  .post-sidebar {
    width: 70vw;
  }
}
.post-sidebar-open {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: rgba(51, 51, 51, 0.8);
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 40px;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 25vh;
  left: 0;
  transform: translateX(-50px);
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 992px) {
  .post-sidebar-open {
    display: block;
  }
}
.post-sidebar-close {
  background-color: unset;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  display: none;
  width: 100%;
  text-align: left;
}
.post-sidebar-close span {
  margin-left: 6px;
  color: rgba(51, 51, 51, 0.9);
}
@media screen and (max-width: 992px) {
  .post-sidebar-close {
    display: block;
  }
}
.post-sidebar-wrapper {
  width: 100%;
  height: calc(100% - 40px);
}
@media screen and (max-width: 992px) {
  .post-sidebar-wrapper {
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow-y: scroll;
    overflow-x: visible;
    scroll-behavior: smooth;
  }
  .post-sidebar-wrapper::-webkit-scrollbar {
    width: 6px;
  }
  .post-sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: #1a2c75;
    border-radius: 8px;
  }
}

.post-comment i.fa, .post-viewed i.fa {
  margin-right: 6px;
}
.post-rating::before, .post-comment::before {
  content: "";
  width: 10px;
  height: 1px;
  border-top: 1px solid #333;
  position: absolute;
  top: calc(50% + 2px);
  right: 0;
  transform: translateX(18px);
}
@media screen and (max-width: 576px) {
  .post-rating::before, .post-comment::before {
    display: none;
  }
}

/*# sourceMappingURL=post.css.map */
