@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.post-title .page-title {
  line-height: 2rem;
}
.post-title .page-title-entry {
  color: #fff;
  font-size: 2rem;
  margin-block: unset;
}
@media screen and (max-width: 768px) {
  .post-title .page-title-entry {
    font-size: 1.5rem;
  }
}
.post-title .page-title-breadcrumb .breadcrumb-item {
  color: #fff;
}
.post-title .page-title-breadcrumb .breadcrumb-item a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
}
@media screen and (max-width: 768px) {
  .post-title .page-title-breadcrumb .breadcrumb-item a {
    line-height: 1rem;
  }
}

.post-main-wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
}
@media screen and (max-width: 992px) {
  .post-main-wrapper {
    grid-template-columns: unset;
  }
}

.post-sidebar-open {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: rgba(51, 51, 51, 0.8);
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 40px;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 25vh;
  left: 0;
  transform: translateX(-50px);
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 992px) {
  .post-sidebar-open {
    display: block;
  }
}
.post-sidebar-open i.fa {
  pointer-events: none;
}
.post-sidebar-close {
  background-color: unset;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  display: none;
  width: 100%;
  text-align: left;
}
.post-sidebar-close span {
  margin-left: 6px;
  color: rgba(51, 51, 51, 0.9);
}
@media screen and (max-width: 992px) {
  .post-sidebar-close {
    display: block;
  }
}
.post-sidebar-posts {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 12px;
}
.post-sidebar-wrapper {
  width: 100%;
  border-radius: 12px;
}
@media screen and (max-width: 992px) {
  .post-sidebar-wrapper {
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow-y: scroll;
    overflow-x: visible;
    scroll-behavior: smooth;
  }
  .post-sidebar-wrapper::-webkit-scrollbar {
    width: 6px;
  }
  .post-sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: #1a2c75;
    border-radius: 8px;
  }
}
.post-sidebar-title {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
  padding: 4px 15px;
  white-space: nowrap;
  margin-block: unset;
  background-color: #1a2c75;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .post-sidebar-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.post-sidebar-list {
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
  list-style: none;
}
.post-sidebar-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.post-sidebar-item a {
  display: flex;
}
.post-sidebar-item a {
  flex-direction: row;
}
.post-sidebar-item a {
  align-items: center;
}
.post-sidebar-item a {
  justify-content: flex-start;
}
.post-sidebar-item a {
  gap: 8px;
}
.post-sidebar-item a {
  padding-block: 10px;
  padding-inline: 20px;
}
.post-sidebar-item a span {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .post-sidebar-item a span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
.post-sidebar-item a img {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.post-sidebar-item a img {
  object-fit: cover;
  border-radius: 4px;
}
.post-sidebar-item:hover {
  background-color: #f7f7f7;
}

.post-article-content {
  width: auto;
  height: auto;
}
.post-article-header {
  color: #1a2c75;
  font-size: 2rem;
  font-weight: 700;
  margin-block: 15px;
}
@media screen and (max-width: 768px) {
  .post-article-header {
    font-size: 1.5rem;
  }
}
.post-article-body {
  width: auto;
  height: auto;
}
.post-article-footer p {
  color: #1a2c75;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-block: 15px;
}
.post-article-footer ul {
  list-style: disc;
  padding-left: 20px;
}
.post-article-footer li {
  margin-block: 10px;
}
.post-article-footer li a {
  color: #1a2c75;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: all ease 0.3s;
}
.post-article-footer li a:hover {
  color: #b59d78;
}
.post-article-sidebar {
  padding-left: 20px;
  background-color: #fff;
  margin-top: 30px;
}

.post-publish_date {
  margin-block: 4px;
}
.post-publish_date p {
  color: #969696;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 600;
  margin-block: unset;
}
.post-short_description {
  margin-bottom: 10px;
}
.post-short_description p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #333;
}
@media screen and (max-width: 576px) {
  .post-short_description p {
    text-align: justify;
  }
}
.post-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.post-image figcaption {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin-top: 4px;
  text-align: center;
  color: #5c5c5c;
}
.post-toc {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 12px;
}
.post-toc p {
  background-color: #b59d78;
  padding: 10px 20px;
  margin-block: unset;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #1a2c75;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.post-toc-list {
  list-style-type: decimal;
  padding-inline: 40px;
  margin-block: 15px;
}
.post-toc-list-item a {
  color: #1a2c75;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 600;
  transition: all linear 0.1s;
  cursor: pointer;
}
.post-toc-list-item a:hover {
  color: #b59d78;
  text-decoration: underline;
}
.post-toc-child {
  list-style: circle;
  padding-left: 15px;
}
.post-long_description h2 {
  font-size: 1.5rem;
}
.post-long_description h3 {
  font-size: 1.3rem;
}
.post-long_description h2,
.post-long_description h3 {
  line-height: 2rem;
  margin-block: 10px;
}
.post-long_description img {
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
  margin-block: 15px;
}
.post-long_description p {
  text-align: justify;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  margin-block: 10px;
}
.post-overview {
  margin-bottom: 10px;
}
.post-overview span {
  font-size: 1rem;
  line-height: 40px;
}
.post-overview i.fa {
  font-size: 1.3rem;
  line-height: 40px;
}
.post-overview-wrapper {
  line-height: 40px;
}
.post-overview-wrapper {
  display: flex;
}
.post-overview-wrapper {
  flex-direction: row;
}
.post-overview-wrapper {
  align-items: center;
}
.post-overview-wrapper {
  justify-content: flex-start;
}
.post-overview-wrapper {
  gap: 30px;
}
@media screen and (max-width: 576px) {
  .post-overview-wrapper {
    line-height: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: unset;
  }
}
.post-overview-wrapper span {
  color: #1a2c75;
}
.post-rating {
  height: 100%;
  position: relative;
}
.post-rating {
  display: flex;
}
.post-rating {
  flex-direction: row;
}
.post-rating {
  align-items: center;
}
.post-rating {
  justify-content: flex-start;
}
.post-rating {
  gap: 4px;
}
.post-rating-star {
  color: #fd9530;
}
.post-rating-star {
  display: flex;
}
.post-rating-star {
  flex-direction: row;
}
.post-rating-star {
  align-items: center;
}
.post-rating-star {
  justify-content: flex-start;
}
.post-rating-star {
  gap: 2px;
}
.post-comment {
  display: flex;
}
.post-comment {
  flex-direction: row;
}
.post-comment {
  align-items: center;
}
.post-comment {
  justify-content: flex-start;
}
.post-comment {
  gap: 8px;
}
.post-comment {
  height: 100%;
  position: relative;
}
.post-viewed {
  height: 100%;
}
.post-viewed {
  display: flex;
}
.post-viewed {
  flex-direction: row;
}
.post-viewed {
  align-items: center;
}
.post-viewed {
  justify-content: flex-start;
}
.post-viewed {
  gap: 8px;
}
.post-rating::after, .post-comment::after {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  border-top: 1px solid #1a2c75;
  position: absolute;
  top: 20px;
  right: -20px;
}
@media screen and (max-width: 576px) {
  .post-rating::after, .post-comment::after {
    display: none;
  }
}

/*# sourceMappingURL=post.css.map */
