@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.sidebar-cta {
  display: flex;
}
.sidebar-cta {
  flex-direction: column;
}
.sidebar-cta {
  align-items: stretch;
}
.sidebar-cta {
  justify-content: center;
}
.sidebar-cta {
  gap: 15px;
}
.sidebar-zalo {
  background-color: #1a2c75;
  padding: 20px;
  border-radius: 12px;
}
.sidebar-zalo img {
  width: 100%;
  object-fit: cover;
}
.sidebar-zalo p {
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}
.sidebar-contact {
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
@media screen and (min-width: 992px) and (max-width: 1120px) {
  .sidebar-contact {
    gap: 10px;
  }
}
.sidebar-contact {
  display: flex;
}
.sidebar-contact {
  flex-direction: column;
}
.sidebar-contact {
  align-items: stretch;
}
.sidebar-contact {
  justify-content: center;
}
.sidebar-contact {
  gap: 15px;
}
.sidebar-contact a {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  transition: all linear 0.2s;
}
.sidebar-contact-call, .sidebar-contact-more {
  background-color: #1a2c75;
  color: #fff;
}
.sidebar-contact-call:hover, .sidebar-contact-more:hover {
  background-color: #b59d78;
  color: #1a2c75;
}
.sidebar-contact-zalo {
  border: 1px solid #1a2c75;
  color: #1a2c75;
}
.sidebar-contact-zalo:hover {
  background-color: #1a2c75;
  color: #fff;
}
.sidebar-support p {
  color: #333;
  font-weight: 700;
  text-align: center;
  line-height: 1.4em;
  padding-inline: 20px;
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) and (max-width: 1120px) {
  .sidebar-support p {
    padding-inline: unset;
  }
}
.sidebar-support-avatar {
  padding-inline: 10px;
}
.sidebar-support-avatar {
  display: flex;
}
.sidebar-support-avatar {
  flex-direction: row;
}
.sidebar-support-avatar {
  align-items: center;
}
.sidebar-support-avatar {
  justify-content: center;
}
.sidebar-support-avatar {
  gap: 8px;
}
.sidebar-support-avatar img {
  width: 33.3333333333%;
  max-width: 90px;
  object-fit: cover;
  border-radius: 8px;
}
.sidebar-close {
  border: unset;
  outline: none;
  border-radius: 4px;
  display: none;
  position: absolute;
  top: 10px;
  left: 25px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.sidebar-close {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
@media screen and (max-width: 992px) {
  .sidebar-close {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .sidebar-cat {
    width: 40vw;
    min-height: 100vh;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 800;
    transform: translateX(100%);
    transition: transform ease-in 0.25s;
  }
}
.sidebar-active {
  transform: translateX(0%);
}
@media screen and (max-width: 768px) {
  .sidebar {
    width: 50vw;
  }
}
@media screen and (max-width: 576px) {
  .sidebar {
    width: 70vw;
  }
}
.sidebar-scroll {
  background-color: #fff;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .sidebar-scroll {
    overflow-y: auto;
    overflow-x: visible;
    scroll-behavior: smooth;
  }
  .sidebar-scroll::-webkit-scrollbar {
    width: 8px;
  }
  .sidebar-scroll::-webkit-scrollbar-thumb {
    background-color: #1a2c75;
    border-radius: 8px;
    width: 4px;
  }
  .sidebar-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #b59d78;
  }
}
.sidebar-wrapper {
  display: flex;
}
.sidebar-wrapper {
  flex-direction: column;
}
.sidebar-wrapper {
  align-items: stretch;
}
.sidebar-wrapper {
  justify-content: flex-start;
}
.sidebar-wrapper {
  gap: 15px;
}
.sidebar-wrapper {
  padding: 20px;
  padding-top: unset;
}
.sidebar-cate {
  width: 100%;
  height: auto;
}
.sidebar-cate-title {
  background-color: #1a2c75;
  color: #fff;
  font-size: 15px;
  line-height: 1em;
  font-weight: 700;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-bottom: unset;
  margin-top: unset;
}
@media screen and (min-width: 992px) and (max-width: 1120px) {
  .sidebar-cate-title {
    padding: 10px;
    line-height: 24px;
  }
}
.sidebar-cate-list {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.sidebar-cate-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.sidebar-cate-item:first-child {
  border-top: unset;
}
.sidebar-cate-item:hover {
  background-color: #f7f7f7;
}
.sidebar-cate-link {
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
}
.sidebar-cate-link {
  display: flex;
}
.sidebar-cate-link {
  flex-direction: row;
}
.sidebar-cate-link {
  align-items: center;
}
.sidebar-cate-link {
  justify-content: flex-start;
}
.sidebar-cate-link {
  gap: 10px;
}
.sidebar-cate-image {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  object-fit: cover;
}
.sidebar-cate-text {
  display: block;
  width: 100%;
  color: #333;
  font-weight: 700;
  font-size: 14px;
}
.sidebar-open {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.sidebar-open {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: -4px 0px 7px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
  border: none;
  text-align: center;
  color: #333;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 25vh;
  z-index: 500;
  transform: translateX(-50px);
  display: none;
}
.sidebar-open * {
  pointer-events: none;
}
@media screen and (max-width: 992px) {
  .sidebar-open {
    display: block;
  }
}
.sidebar-close {
  border: unset;
  outline: none;
  background-color: unset;
  width: 100%;
  padding: 20px;
  margin-bottom: -20px;
  text-align: left;
  display: none;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .sidebar-close {
    display: block;
  }
}
.sidebar-close span {
  margin-left: 6px;
}

.page-title-wrapper {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  padding-block: 40px;
}
.page-title-entry {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.title-child {
  margin-top: unset;
  margin-bottom: unset;
  background-image: url("../../images/hosting/background-title-child-categories.jpg");
  background-position: center;
  background-size: cover;
}
.title-child-wrapper {
  display: flex;
}
.title-child-wrapper {
  flex-direction: column;
}
.title-child-wrapper {
  align-items: stretch;
}
.title-child-wrapper {
  justify-content: space-between;
}
.title-child-wrapper {
  padding-block: 40px;
}
@media screen and (max-width: 768px) {
  .title-child-wrapper {
    padding-block: 20px;
  }
}
@media screen and (max-width: 576px) {
  .title-child-wrapper {
    padding-inline: 10px;
  }
}
.title-child-title {
  display: flex;
}
.title-child-title {
  flex-direction: row;
}
.title-child-title {
  align-items: center;
}
.title-child-title {
  justify-content: center;
}
.title-child-title {
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .title-child-title {
    padding-inline: 10px;
  }
}
.title-child-back {
  display: inline-block;
}
@media screen and (max-width: 992px) {
  .title-child-back {
    display: none;
  }
}
.title-child-back a {
  display: block;
  line-height: 36px;
  padding-inline: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}
.title-child-heading {
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: clamp(1.6rem, 4.5vw, 2.5rem);
  line-height: clamp(2.3rem, 7vw, 4rem);
}
.title-child-menu {
  margin-top: 15px;
  text-align: center;
}
.title-child-menu-btn {
  background-color: unset;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  font-size: clamp(1.3rem, 2vw, 2rem);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .title-child-menu-btn {
    display: none;
  }
}
.title-child-menu-btn i.fa {
  margin-left: 10px;
  transform: rotateX(0deg);
  transition: transform ease 0.3s;
}
.title-child-menu-btn i.fa-show {
  transform: rotateX(180deg);
}
.title-child-list {
  margin-top: 10px;
}
.title-child-list {
  display: flex;
}
.title-child-list {
  flex-direction: row;
}
.title-child-list {
  align-items: center;
}
.title-child-list {
  justify-content: center;
}
.title-child-list {
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .title-child-list {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    max-height: 0px;
    transition: all linear 0.3s;
    overflow: hidden;
  }
}
.title-child-item {
  flex: 0 0 20%;
}
@media screen and (max-width: 1200px) {
  .title-child-item {
    flex: 0 0 25%;
  }
}
@media screen and (max-width: 768px) {
  .title-child-item {
    width: 100%;
    padding-inline: 20px;
    padding-block: 15px;
  }
  .title-child-item:first-child {
    padding-top: 20px;
  }
  .title-child-item:last-child {
    padding-bottom: 20px;
  }
}
.title-child-item-link {
  text-align: left;
}
.title-child-item-link {
  display: flex;
}
.title-child-item-link {
  flex-direction: row;
}
.title-child-item-link {
  align-items: center;
}
.title-child-item-link {
  justify-content: flex-start;
}
.title-child-item-link {
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .title-child-item-link {
    align-items: stretch;
    width: 100%;
  }
}
.title-child-item-image {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.title-child-item-image {
  border-radius: 4px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .title-child-item-image {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
.title-child-item-text {
  display: flex;
}
.title-child-item-text {
  flex-direction: column;
}
.title-child-item-text {
  align-items: stretch;
}
.title-child-item-text {
  justify-content: flex-start;
}
.title-child-item-text {
  gap: 4px;
}
@media screen and (max-width: 768px) {
  .title-child-item-text {
    justify-content: space-between;
  }
}
.title-child-item-name {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2rem;
}
@media screen and (max-width: 768px) {
  .title-child-item-name {
    font-size: 16px;
  }
}
.title-child-item-count {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .title-child-item-count {
    font-size: 16px;
  }
}

.sub-cat-breadcrumb {
  display: flex;
}
.sub-cat-breadcrumb {
  flex-direction: row;
}
.sub-cat-breadcrumb {
  align-items: center;
}
.sub-cat-breadcrumb {
  justify-content: flex-start;
}
.sub-cat-breadcrumb {
  margin-block: 15px;
}
.sub-cat-breadcrumb ul {
  display: flex;
}
.sub-cat-breadcrumb ul {
  flex-direction: row;
}
.sub-cat-breadcrumb ul {
  align-items: center;
}
.sub-cat-breadcrumb ul {
  justify-content: center;
}
.sub-cat-breadcrumb ul {
  gap: 10px;
}
.sub-cat-breadcrumb li {
  color: #1a2c75;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}
.sub-cat-title {
  color: #1a2c75;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.sub-cat-rating {
  display: flex;
}
.sub-cat-rating {
  flex-direction: row;
}
.sub-cat-rating {
  align-items: center;
}
.sub-cat-rating {
  justify-content: flex-start;
}
.sub-cat-rating {
  gap: 8px;
}
.sub-cat-rating {
  margin-block: 10px;
}
.sub-cat-rating span {
  font-weight: 500;
}
.sub-cat-rating-star {
  color: #f7c600;
  font-size: 20px;
}
.sub-cat-rating-star i.fa {
  margin-left: 4px;
}
.sub-cat-short_description {
  margin-block: 10px;
}
.sub-cat-short_description a {
  color: #1a2c75;
  font-size: inherit;
  font-weight: inherit;
}
.sub-cat-short_description p {
  color: #333;
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  margin-block: 10px;
}
.sub-cat-gallery {
  margin-top: 15px;
  margin-bottom: 25px;
}
.sub-cat-product {
  margin-bottom: 20px;
}
.sub-cat-product-title {
  color: #1a2c75;
  font-weight: 700;
  font-size: 24px;
  margin-block: 15px;
}
.sub-cat-product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
@media screen and (max-width: 768px) {
  .sub-cat-product-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 576px) {
  .sub-cat-product-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.sub-cat-main {
  display: grid;
  grid-template-columns: 75% 25%;
}
@media screen and (max-width: 992px) {
  .sub-cat-main {
    grid-template-columns: unset;
  }
}
.sub-cat-main-content a {
  color: #1a2c75;
}
.sub-cat-long_description img {
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  margin-block: 10px;
}
.sub-cat-long_description ul {
  list-style: circle;
}
.sub-cat-long_description li {
  margin-block: 10px;
  line-height: 28px;
  margin-left: 20px;
}

/*# sourceMappingURL=sub-cate.css.map */
