- 
  var product_seen = [
    {
      image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-1.jpg",
      image2: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-7.jpg",
      title: "Bình thủy tinh đựng nước cao cấp iSO",
      href: "#"
    },
    {
      image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-2.jpg",
      image2: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-6.jpg",
      title: "Bình thủy tinh đựng nước cao cấp iSO",
      href: "#"
    },
    {
      image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-3.jpg",
      image2: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-5.jpg",
      title: "Bình thủy tinh đựng nước cao cấp iSO",
      href: "#"
    },
    {
      image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-4.jpg",
      image2: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-2.jpg",
      title: "Bình thủy tinh đựng nước cao cấp iSO",
      href: "#"
    },
  ]

section.product-seen 
  .container 
    h2.product-seen-title Sản phẩm đã xem
    .product-seen-wrapper 
      each item in product_seen
        +productStyle04(item.href, item.image, item.image2, item.title)