// Title
mixin title(subtitle, title, titleAfter)
  .title-wrapper 
    span.subtitle=subtitle
    h2.title=title
    p.title-after=titleAfter

// Button Product Design 01
mixin buttonProduct(text1)
  a.btn-product-readmore(class!=attributes.class href="#", target="_blank", rel="nofollow noopener noreferrer")
    span=text1 