section.in-logo-ly-thuy-tinh
  .container
    .in-logo-container
      img.in-logo-background(src="../images/hosting/in-logo-len-ly-thuy-tinh-isoglass-2.jpg", alt="In logo thương hiệu lên ly thuỷ tinh")
      a.in-logo-link(href="#", target="_blank", rel="noopener noreferrer" title="In logo thương hiệu lên Ly thuỷ tinh làm quà tặng cho khách hàng")
        +title("In logo lên Ly thuỷ tinh", "In logo thương hiệu lên Ly thuỷ tinh làm quà tặng cho khách hàng", "Dịch vụ in logo lên ly thuỷ tinh làm quà tặng cho doanh nghiệp và khách hàng.")
        .in-logo-wrapper 
          img(src="../images/hosting/in-logo-ly-thuy-tinh-iSO-01.jpg", alt="In logo lên ly thủy tinh" title="In logo thương hiệu lên Ly thuỷ tinh")
          img(src="../images/hosting/in-logo-ly-thuy-tinh-iSO-02.jpg", alt="In logo lên ly thủy tinh" title="In logo thương hiệu lên Ly thuỷ tinh")
          img(src="../images/hosting/in-logo-ly-thuy-tinh-iSO-03.jpg", alt="In logo lên ly thủy tinh" title="In logo thương hiệu lên Ly thuỷ tinh")
      a.in-logo-button(href="", target="_blank", rel="noopener noreferrer" title="Đặt in logo ly thuỷ tinh làm quà tặng")
        span Đặt in logo ly thuỷ tinh làm quà tặng