- 
  var inlogo_product = [
    {
      title: "Ly thuỷ tinh champagne cầu vồng size 180ml iSO-49",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-champagne-cau-vong-size-180ml-iso-49.jpg",
      href: "#",
    },
    {
      title: "Ly thuỷ tinh dáng tulip uống rượu size 180ml iSO-50",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-dang-tulip-uong-ruou-size-180ml-iso-50.jpg",
      href: "#",
    },
    {
      title: "Ly thuỷ tinh đế theo yêu cầu uống rượu size 300ml iSO-39",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-de-theo-yeu-cau-uong-ruou-size-300ml-iso-39.jpg",
      href: "#",
    },
    {
      title: "Ly thuỷ tinh đơn giản uống rượu size 300ml iSO-47",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-don-gian-uong-ruou-size-300ml-iso-47-1.jpg",
      href: "#",
    },
    {
      title: "Ly thuỷ tinh hình vác nghiêng uống rượu size 300ml iSO-40",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-hinh-vac-nghieng-uong-ruou-size-300ml-iso-40-1.jpg",
      href: "#",
    },
    {
      title: "Ly thuỷ tinh màu hổ phách uống rượu size 380ml iSO-48",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-mau-ho-phach-uong-ruou-size-380ml-iso-48.jpg",
      href: "#",
    }
  ]

section.ltt-product
  .container 
    +title("Sản phẩm nổi bật", "LY THỦY TINH")
    .ltt-product-banner
      img(src="../../images/ly-thuy-tinh/ly-thuy-tinh-noi-bat-isoglass-tao-hinh-tinh-te-tao-nen-khong-gian-dang-cap.jpg", alt="Chai thủy tinh iSOGLASS - Tạo hình tinh tế tạo nên không gian đẳng cấp", srcset="../../images/ly-thuy-tinh/ly-thuy-tinh-noi-bat-isoglass-tao-hinh-tinh-te-tao-nen-khong-gian-dang-cap.jpg 2x")
    .ltt-product-wrapper 
      each item in inlogo_product
        +productInfoStyle01(item.href, item.image, item.title)