section.lythuytinh-cate 
  .container 
    +title("Danh mục nổi bật", "Ly thuỷ tinh iSOGLASS")
    .lythuytinh-cate-wrapper 
      .lythuytinh-cate-item 
        a.lythuytinh-cate-link(href="#")
          .lythuytinh-cate-image
            img(src="../../images/ly-thuy-tinh/ly-thuy-tinh-iSOGLASS-1.jpg", alt="Ly thuỷ tinh iSOGLASS giá tốt tại TP.HCM")
          .lythuytinh-cate-hover 
            .lythuytinh-cate-content 
              h3.lythuytinh-cate-title Ly thuỷ tinh sản xuất tại TP.HCM 
              span.lythuytinh-cate-count 49 sản phẩm
