- 
  var inlogo_product = [
    {
      title: "Ly thuỷ tinh champagne cầu vồng size 180ml iSO-49",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-champagne-cau-vong-size-180ml-iso-49.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-1.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    },
    {
      title: "Ly thuỷ tinh dáng tulip uống rượu size 180ml iSO-50",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-dang-tulip-uong-ruou-size-180ml-iso-50.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-2.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    },
    {
      title: "Ly thuỷ tinh đế theo yêu cầu uống rượu size 300ml iSO-39",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-de-theo-yeu-cau-uong-ruou-size-300ml-iso-39.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-3.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    },
    {
      title: "Ly thuỷ tinh đơn giản uống rượu size 300ml iSO-47",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-don-gian-uong-ruou-size-300ml-iso-47-1.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-4.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    },
    {
      title: "Ly thuỷ tinh hình vác nghiêng uống rượu size 300ml iSO-40",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-hinh-vac-nghieng-uong-ruou-size-300ml-iso-40-1.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-5.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    },
    {
      title: "Ly thuỷ tinh màu hổ phách uống rượu size 380ml iSO-48",
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-mau-ho-phach-uong-ruou-size-380ml-iso-48.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-6.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    }
  ]

- 
  var danhmuc_test = [
    {
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-champagne-cau-vong-size-180ml-iso-49.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-1.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    },
    {
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-dang-tulip-uong-ruou-size-180ml-iso-50.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-1.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    },
    {
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-de-theo-yeu-cau-uong-ruou-size-300ml-iso-39.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-1.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    },
    {
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-don-gian-uong-ruou-size-300ml-iso-47-1.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-1.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    },
    {
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-hinh-vac-nghieng-uong-ruou-size-300ml-iso-40-1.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-1.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    },
    {
      image: "../../images/ly-thuy-tinh/ly-thuy-tinh-mau-ho-phach-uong-ruou-size-380ml-iso-48.jpg",
      image2: "../../images/chai-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-1.jpg",
      href: "#",
      cate: "Ly thủy tinh",
      rating: 5,
      status: ["hot", "new"],
      count: "12 sản phẩm"
    }
  ]

section.inlogo-product
  .container 
    +title("Sản phẩm nổi bật", "Sản phẩm test")
    .test-product-wrapper 
      each item in inlogo_product
        +productStyle02(item.href, item.image, item.title, item.cate)
    //- Test tạo danh mục
    .test-category-wrapper 
      each cat in danhmuc_test
        +categoryStyle02(cat.href, cat.image, cat.cate, cat.count)
    //- Test Product 03
    .test-product-wrapper 
      each item in inlogo_product
        +productStyle03()