//- Layout tổng
include ../../view/mixin/mixins.pug
doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block titlePage 
      title Trang dành để test các lỗi trong source code 
    //- Google Fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet")
    //- Favicon
    link(rel="shortcut icon" href="../images/logo/favicon-isoglass.png" type="image/x-icon")
    //- Font Awesome
    link(rel="stylesheet" href="../vendors/font-awesome/css/font-awesome.min.css")
    //- Owl Carousel
    block owlCarousel
      - var useOwlCarousel = true ;
      if useOwlCarousel
        link(rel="stylesheet" href="../vendors/owl-carousel/css/owl.carousel.min.css")
        link(rel="stylesheet" href="../vendors/owl-carousel/css/owl.theme.default.min.css")
    block styleSheet 
      link(rel="stylesheet" href="./style/main.css")
    block testMenuCSS 
  body 
    include ../../view/layout/header/header.pug
    block testMenuPug 
    block main 
    include ../../view/layout/footer/prefooter.pug
    include ../../view/layout/footer/footer.pug
    block menuScript 
    block jqueryScript 
      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
      script(src="../vendors/owl-carousel/js/owl.carousel.js")

