section.featured
	.container 
		h2.featured-title Lý do chọn iSOGLASS 
		p Từ những phác thảo đầu tiên đến sản phẩm hoàn thiện, chúng tôi mở ra những tiềm năng cho doanh nghiệp bạn qua những sản phẩm thuỷ tinh chất lượng và tinh tế.
		.featured-wrapper
			.featured-service 
				.featured-service-image 
					img(src="", alt="")
				h3.featured-service-title Một cho tất cả
				
				
