@use "../abstracts" as *;
// - CSS tuỳ chỉnh
.chai-thuy-tinh-slideshow {
  margin-top: unset;
  margin-bottom: unset;
}
.tem-nhan-chai-ruou {
  margin-top: 20px;
  .title-wrapper {
    gap: unset;
    margin-bottom: unset;
    max-width: 80%;
    margin: 0 auto;
    @include maxWidth($small) {
      max-width: unset;
    }
  }
  .title-after {
    @include maxWidth($small) {
      text-align: justify;
      text-align-last: center;
    }
  }
}

.bang-san-pham {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-block: 15px;
  th,
  td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
  }
  th {
    background-color: #f0f0f0;
  }
  td:first-child {
    text-align: left;
    padding-left: 5px;
  }
}
.sidebar {
  &-chai-thuy-tinh {
    margin-block: unset;
  }
}
