@use "../element/home";
.gioi-thieu {
  margin-top: 0px;
  padding-block: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.ly-do-chon-iso {
  margin-block: 0px;
  padding-top: 40px;
  padding-bottom: 60px;
}
.chai-thuy-tinh-cat {
  margin-block: unset;
  padding-top: 40px;
  padding-bottom: 60px;
}
.vo-hop-ruou {
  padding-top: 15px;
  padding-bottom: 40px;
  margin-bottom: unset;
}
.ly-thuy-tinh-cat {
  margin-top: unset;
  padding-top: 25px;
  padding-bottom: 40px;
  margin-bottom: 30px;
}
.ly-thuy-tinh-pro {
  margin-top: 25px;
  margin-bottom: 25px;
}
.in-logo-ly-thuy-tinh {
  margin-bottom: 20px;
  margin-top: 20px;
}
.con-so-noi-bat {
  margin-bottom: unset;
}
.khach-hang-isoglass {
  margin-top: unset;
  margin-bottom: unset;
}
