- var chai_thuy_tinh_750 = ["../../images/chai-thuy-tinh/chai-thuy-tinh-750ml/chai-thuy-tinh-750ml-than-tru-vuong-dung-ruou-1.jpg", "../../images/chai-thuy-tinh/chai-thuy-tinh-750ml/chai-thuy-tinh-750ml-than-tru-vuong-dung-ruou-2.jpg", "../../images/chai-thuy-tinh/chai-thuy-tinh-750ml/chai-thuy-tinh-750ml-than-tru-vuong-dung-ruou-3.jpg", "../../images/chai-thuy-tinh/chai-thuy-tinh-750ml/chai-thuy-tinh-750ml-than-tru-vuong-dung-ruou-4.jpg", "../../images/chai-thuy-tinh/chai-thuy-tinh-750ml/chai-thuy-tinh-750ml-than-tru-vuong-dung-ruou-5.jpg", "../../images/chai-thuy-tinh/chai-thuy-tinh-750ml/chai-thuy-tinh-750ml-than-tru-vuong-dung-ruou-6.jpg"]

.product-image-wrapper 
  .product-image-carousel 
    .product-image-carousel-vertical 
      .product-image-carousel-thumb
        each item in chai_thuy_tinh_750
          .product-image-carousel-image 
            img(src=item, alt="Chai thuỷ tinh đựng rượu dung tích 750ml")
      .product-image-button 
        button.product-image-button-up 
          i.fa.fa-angle-up(aria-hidden="true")
        button.product-image-button-down 
          i.fa.fa-angle-down(aria-hidden="true")
    .product-image-carousel-main  
      img(src="../../images/chai-thuy-tinh/chai-thuy-tinh-750ml/chai-thuy-tinh-than-tru-vuong-dung-ruou-size-750ml-iso-45.jpg", alt="Chai thuỷ tinh đựng nước giá tốt tại TP.HCM", srcset="../../images/chai-thuy-tinh/chai-thuy-tinh-750ml/chai-thuy-tinh-than-tru-vuong-dung-ruou-size-750ml-iso-45.jpg 2x")
  .product-image-show 
    a(href="#", rel="noopener noreferrer nofollow")
      i.fa.fa-expand(aria-hidden="true")
      span Click để mở rộng