.tab-info-wrapper 
  .tab-info-head 
    .tab-info-list.tab-active(data-tab="1") 
      span Đóng gói 
    .tab-info-list(data-tab="2") 
      span Vận chuyển 
    .tab-info-list(data-tab="3") 
      span Tư vấn 
  .tab-info-body 
    .tab-info-content.tab-active(data-tab="1")
      p Đây là content số 
        strong 1 
        | nha các bạn
    .tab-info-content(data-tab="2")
      p Hôm nay là thứ mấy chắc chắn là thứ 
        strong 2
    .tab-info-content(data-tab="3")
      p Tình yêu không có lỗi, lỗi tại kẻ thứ 
        strong 3