@use "../abstracts" as *;
body {
  font-family: $font-primary;
  font-style: normal;
  word-wrap: break-word;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: $primaryColor;
  font-size: 1.8rem;
  font-weight: 700;
  margin-block: 10px;
  @include maxWidth($medium) {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  @include maxWidth($small) {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

h3 {
  color: $primaryColor;
  margin-block: 10px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.8rem;
  @include maxWidth($small) {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: $textColor;
  margin-block: 10px;
  text-align: left;
  @include maxWidth($small) {
    text-align: justify;
  }
}

figcaption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  margin-block: 10px;
  line-height: 1.6rem;
  width: 80%;
  margin-inline: auto;
}

a {
  color: $primaryColor;
}
