@use "../../../abstracts" as *;
.cate {
  &-title {
    color: $primaryColor;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
  &-item {
    box-shadow: $shadow;
    border-radius: $border12;
    overflow: hidden;
    &-link {
      position: relative;
    }
    &-image {
      border-radius: $border12;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: $transition;
      }
    }
    &-content {
      background-color: rgba($color: #000000, $alpha: 0.5);
      padding-inline: 15px;
      padding-top: 10px;
      padding-bottom: 4px;
      width: 100%;
      position: absolute;
      bottom: -28px;
      left: 0;
      transition: all ease-in-out 0.2s;
    }
    &-title {
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
    }
    &-count {
      display: block;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
    }
  }
}

.cate {
  &-item {
    &:hover {
      .cate-item {
        &-image {
          img {
            transform: scale(1.1);
          }
        }
        &-content {
          bottom: 0;
        }
      }
    }
  }
}
