section.lich-su-hinh-thanh
  .container 
    .about-isoglass-history 
      h2.about-isoglass-heading-out Lịch sử hình thành
      p iSOGLASS được thành lập từ năm 2015 với hơn 32 nhân sự cùng 2 xưởng chuyên dụng sản xuất thuỷ tinh, cho đến nay Công ty đã phát triển với hơn 100 nhân sự lành nghề trong ngành thủy tinh, xây dựng hơn 3 kho và 4 xưởng sản xuất thủy tinh trong đó có những xưởng sản xuất tại Trung Quốc. Chúng tôi đã phục vụ hơn 3250 Khách hàng cùng hơn 500 dự án lớn cung ứng sản phẩm thủy tinh cao cấp cho các Doanh nghiệp và Khách hàng. 
      h2.about-isoglass-heading-out Tầm nhìn - định hướng phát triển
      p Đến năm 2028 iSOGLASS trở thành Doanh nghiệp cung cấp và sản xuất thuỷ tinh dẫn đầu thị trường Việt Nam, nâng tầm giá trị ngành thuỷ tinh qua các ứng dụng thiết thực và phù hợp với mục đích của từng doanh nghiệp và cá nhân.
      p iSOGLASS định hướng lấy thủy tinh là sản phẩm cốt lõi với các sản phẩm cụ thể như Chai thủy tinh, Bình thủy tinh, Ly thủy tinh, Thủy tinh pha lê, Thủy tinh trang trí... Trong đó tập trung chính yếu vào tệp khách hàng F&B và ngành hàng trang trí, lấy yếu tố mới lạ, cao cấp làm trọng tâm.
      p iSOGLASS với khát vọng phục vụ khách hàng trong nước, thỏa mãn mọi nhu cầu của khách hàng trên khắp lãnh thổ Việt Nam. Với định hướng sản xuất theo nhu cầu, mang đến sự mới lạ và nét riêng của từng sản phẩm cho từng Khách hàng người Việt.
      h2.about-isoglass-heading-out Sứ mệnh của chúng tôi
      p Với sứ mệnh nâng cao giá trị trải nghiệm thuỷ tinh của Khách hàng, iSOGLASS không ngừng phát triển và nghiên cứu Doanh nghiệp mình để bắt kịp công nghệ và các mẫu mã phù hợp với sở thích và thị hiếu của nhiều đối tượng Khách hàng. Từ những phác thảo đầu tiên đến sản phẩm hoàn thiện, chúng tôi mở ra những tiềm năng cho Doanh nghiệp bạn qua những sản phẩm thuỷ tinh chất lượng và tinh tế.