- 
  var ltt_breadcrumb = [
    {
      name: "Trang chủ",
      href: "/"
    },
    {
      name: "Ly thủy tinh",
      href: "./ly-thuy-tinh.html"
    }
  ];
//- - Breadcrumb cho Ly thủy tinh
+breadcrumbForEachPage(ltt_breadcrumb)