- 
  var category_ly_thuy_tinh = {
    heading: "Phân loại ly thủy tinh",
    items: [
      {
        image: "../../images/ly-thuy-tinh/ly-thuy-tinh-iSOGLASS-1.jpg",
        name: "Ly thuỷ tinh cao cấp",
        title: "Ly thuỷ tinh sản xuất tại TP.HCM",
        count: "49 sản phẩm",
        href: "#"
      },
      {
        image: "../../images/ly-thuy-tinh/ly-thuy-tinh-iSOGLASS-2.jpg",
        name: "Bộ ly thuỷ tinh",
        title: "Bộ ly thuỷ tinh - giá tốt tại TP.HCM",
        count: "15 sản phẩm",
        href: "#"
      },
      {
        image: "../../images/ly-thuy-tinh/ly-thuy-tinh-iSOGLASS-3.jpg",
        name: "Ly thuỷ tinh 2 lớp",
        title: "Ly thuỷ tinh 2 lớp sản xuất tại TP.HCM",
        count: "26 sản phẩm",
        href: "#"
      },
      {
        image: "../../images/ly-thuy-tinh/ly-thuy-tinh-iSOGLASS-4.jpg",
        name: "Ly thuỷ tinh uống rượu",
        title: "Ly thuỷ tinh uống rượu sản xuất tại TP.HCM",
        count: "36 sản phẩm",
        href: "#"
      },
      {
        image: "../../images/ly-thuy-tinh/ly-thuy-tinh-iSOGLASS-5.jpg",
        name: "Ly thuỷ tinh cao cấp",
        title: "Ly thuỷ tinh cao cấp sản xuất tại TP.HCM",
        count: "19 sản phẩm",
        href: "#"
      },
      {
        image: "../../images/ly-thuy-tinh/ly-thuy-tinh-iSOGLASS-5.jpg",
        name: "Ly thuỷ tinh nhập khẩu",
        title: "Ly thuỷ tinh nhập khẩu tại TP.HCM",
        count: "19 sản phẩm",
        href: "#"
      },
    ]
  }

//- - Sidebar dành cho Ly thuỷ tinh
+sidebar4cate(category_ly_thuy_tinh)