- 
  var ly_thuy_tinh_QA = {
    heading: "Câu hỏi thường gặp về Ly thủy tinh",
    items: [
      {
        question: "Ly thuỷ tinh làm từ chất liệu gì ?",
        answer: "Ly thuỷ tinh thường được làm từ chất liệu silica, có thể là silica thấp, trung bình hoặc cao, được nung nóng ở nhiệt độ cao để tạo ra sản phẩm cứng, trong suốt và chịu nhiệt."
      },
      {
        question: "Ly thuỷ tinh có ưu điểm gì so với ly nhựa ?",
        answer: "Ly thuỷ tinh có nhiều ưu điểm so với ly nhựa, bao gồm tính đẹp mắt, khả năng giữ nguyên hương vị thực phẩm và đồ uống, không tương tác hóa học với chất lỏng bên trong, đồng thời cũng dễ dàng vệ sinh và tái sử dụng."
      },
      {
        question: "Làm thế nào để vệ sinh ly thuỷ tinh một cách hiệu quả ?",
        answer: "Để vệ sinh ly thuỷ tinh một cách hiệu quả, bạn có thể sử dụng nước ấm hoặc nước xà phòng nhẹ kết hợp với cọ mềm để rửa sạch bên trong và bên ngoài của ly. Nên để ly khô tự nhiên hoặc lau khô bằng khăn mềm để tránh gây trầy xước."
      },
      {
        question: "Ly thuỷ tinh có ứng dụng trong lĩnh vực nào ngoài ngành thực phẩm và đồ uống ?",
        answer: "Ly thuỷ tinh cũng có ứng dụng trong nhiều lĩnh vực khác ngoài ngành thực phẩm và đồ uống, chẳng hạn trong trang trí nội thất, làm quà tặng, trang trí tiệc cưới, hoặc dùng để chứa các sản phẩm làm đẹp như kem, dầu gội đầu, dầu massage v.v."
      },
    ]
  }
//- - Câu hỏi thường gặp
+answerthequestion4cate(ly_thuy_tinh_QA)
