@use "../abstracts" as *;
.btn-product-readmore {
  --width: 90px;
  --height: 40px;
  @include flexbox(row, center, center, null);
  color: #fff;
  width: var(--width);
  height: var(--height);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  &::before {
    content: "Liên hệ";
    width: 100%;
    height: 100%;
    @include flexbox(row, center, center, null);
    position: absolute;
    transform: translateY(calc(1 * var(--height)));
    transition: transform ease-in-out 0.2s;
  }
  span {
    position: absolute;
    transform: translateY(0);
    transition: transform ease-in-out 0.2s;
  }
  &:hover {
    span {
      transform: translateY(calc(-1 * var(--height)));
    }
    &::before {
      transform: translateY(0);
    }
  }
}
