@use "../abstracts" as *;
// Button Product 01
.btn_product_ver1 {
  --width: 90px;
  --height: 40px;
  @include flexbox(row, center, center, null);
  color: #fff;
  width: var(--width);
  height: var(--height);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  &::before {
    content: "Liên hệ";
    @include flexbox(row, center, center, null);
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    transform: translateY(calc(var(--height) - 10px));
    transition: transform ease-in-out 0.2s;
  }
  span {
    transform: translateY(0);
    transition: transform ease-in-out 0.2s;
  }
  &:hover {
    span {
      transform: translateY(calc(-1 * var(--height)));
    }
    &::before {
      transform: translateY(0);
    }
  }
}
// Button Product 02
.btn-product-2 {
  @include flexbox(row, center, center, null);
  padding: 8px 12px;
  background-color: $primaryColor;
  color: #fff;
  border-radius: $border4;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  span {
    transform: translateY(0);
    transition: transform ease 0.2s;
  }
  &::before {
    content: "Liên hệ";
    position: absolute;
    inset: 0;
    @include flexbox(row, center, center, null);
    transform: translateY(120%);
    transition: all ease 0.2s;
  }
  &:hover {
    span {
      transform: translateY(-150%);
    }
    &::before {
      transform: translateY(0%);
    }
  }
}
