@use "../abstracts" as *;
// CSS Category Style 01
.category_item1 {
  &-wrapper {
    display: block;
    position: relative;
    border-radius: $border12;
    overflow: hidden;
    @include maxWidth($large) {
      height: fit-content;
    }
    &:hover {
      .category_item1 {
        &-image img {
          transform: scale(1.1);
        }
        &-hover {
          transform: translateY(0%);
        }
      }
    }
  }
  &-image {
    box-shadow: $shadow2;
    border-radius: $border12;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: $transition;
    }
  }
  &-hover {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: $transition;
    border-bottom-left-radius: $border12;
    border-bottom-right-radius: $border12;
    @include maxWidth($small) {
      position: static;
      background-color: transparent;
      transform: unset;
    }
  }
  &-content {
    padding: 15px;
    height: var(--heigth-content);
    @include maxWidth($small) {
      padding: 4px 8px;
      @include flexbox(column, center, stretch, 4px);
      height: auto;
    }
  }
  &-title {
    color: #fff;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
    font-size: clamp(16px, 16px, 18px);
    @include maxWidth($small) {
      text-align: center;
      color: $primaryColor;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: unset;
    }
    @include maxWidth($small) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &-count {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    @include maxWidth($small) {
      color: $primaryColor;
    }
  }
}
// CSS Category Style 02
.category-item-2 {
  &-wrapper {
    &:hover {
      .category-item-2 {
        &-image img {
          transform: scale(1);
        }
        &-image::before {
          background-color: rgba(0, 0, 0, 0.5);
        }
        &-count {
          opacity: 1;
          transform: translateY(0px);
        }
        &-title {
          &-text {
            transform: translateY(0px);
          }
        }
      }
    }
  }
  &-link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &-image {
    box-shadow: $shadow2;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      inset: 0;
      z-index: 200;
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: transparent;
      z-index: 300;
      transition: all ease 0.3s;
    }
    img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.1);
      transition: all ease 0.3s;
    }
  }
  &-title {
    @include flexbox(column, center, center, null);
    position: absolute;
    inset: 0;
    z-index: 500;
    &-text {
      padding: 12px 15px;
      border-radius: 100rem;
      background-color: #fff;
      font-size: 16px;
      font-weight: 700;
      color: $primaryColor;
      transform: translateY(15px);
      transition: all ease 0.3s;
    }
  }
  &-count {
    color: #fff;
    font-size: 14px;
    height: fit-content;
    margin-top: 10px;
    transform: translateY(20px);
    opacity: 0;
    transition: all ease 0.2s;
    transition-delay: 0.1s;
  }
}

