section.comment
  .container 
    .comment-wrapper 
      .comment-reviews 
        span Đánh giá
      .comment-respond 
        span.comment-title Hãy là người đầu tiên nhận xét
        form(action="")
          p.comment-notes Email của bạn sẽ không được hiển thị công khai.