  - 
    var cttdr = {
      title: "Bình thủy tinh đựng nước cao cấp iSO-1, 
      topbar: "Chai thủy tinh đựng rượu", 
      rating: [1,2,3,4],
      breadcrumb: [{name:"Trang chủ",href:"/"}, {name:"Chai thủy tinh",href:"./chai-thuy-tinh.html"}, {name:"Chai thủy tinh đựng rượu",href:"./chai-thuy-tinh-dung-ruou.html"}],
      H1: "Chai thuỷ tinh đựng rượu - giá tốt tại TP.HCM"
    }

- 
  var btt_products = {
    heading: "Sản phẩm Bình thủy tinh tại iSOGLASS",
    items: [
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-1.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-2.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-3.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-4.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-5.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-6.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-7.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-8.jpg",
        href: "#",
      },
      {
        title: "Bình thủy tinh đựng nước cao cấp iSO-1",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc-cao-cap-iSO-9.jpg",
        href: "#",
      }
    ]
  }

- 
  var btt_sidebar = {
    heading: "Phân loại Bình thủy tinh",
    items: [
      {
        name: "Bình thủy tinh đựng nước",
        link: "#",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-ruou.jpg",
        title: "Bộ bình ly thủy tinh - giá tốt tại TP.HCM",
      },
      {
        name: "Bình thủy tinh đựng rượu",
        link: "#",
        image: "../../images/binh-thuy-tinh/binh-thuy-tinh-dung-nuoc.jpg",
        title: "Bình thủy tinh đựng rượu - giá tốt tại TP.HCM"
      }
    ]
  }


- 
  var post = [
    {
      title: "Điểm chính 1",
      href: "#",
      child: [
        {
          childTitle: "Tiêu điểm con 1",
          href: "#"
        },
        {
          childTitle: "Tiêu điểm con 2",
          href: "#"
        },
        {
          childTitle: "Tiêu điểm con 3",
          href: "#"
        },
      ]
    },
    {
      title: "Điểm chính 2",
      href: "",
      child: [
        {
          childTitle: "Tiêu điểm con 1",
          href: "#"
        },
        {
          childTitle: "Tiêu điểm con 2",
          href: "#"
        }
      ]
    },
    {
      title: "Điểm chính 3",
      href: "#"
    },
    {
      title: "Điểm chính 4",
      href: "#"
    }
  ]