  - 
    var cttdr = {
      title: "Chai thuỷ tinh đựng rượu - giá tốt tại TP.HCM", 
      topbar: "Chai thủy tinh đựng rượu", 
      rating: [1,2,3,4],
      breadcrumb: [{name:"Trang chủ",href:"/"}, {name:"Chai thủy tinh",href:"./chai-thuy-tinh.html"}, {name:"Chai thủy tinh đựng rượu",href:"./chai-thuy-tinh-dung-ruou.html"}],
      H1: "Chai thuỷ tinh đựng rượu - giá tốt tại TP.HCM"
    }