@use "../../abstracts" as *;
// - Menu chính
.menu {
  display: block;
  background-color: $primaryColor;
  border-bottom: 0.5px solid #fff;
  @include maxWidth($large) {
    background-color: #fff;
    width: 40vw;
    height: 100vh;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 999;
    overflow-y: auto;
    padding-bottom: 20px;
    box-shadow: $shadow;
    transition: all ease-in-out 0.5s;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primaryColor;
      border-radius: 20px;
    }
    &-show {
      left: 0%;
    }
  }
  @include maxWidth($medium) {
    width: 70vw;
  }
  &-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    @include maxWidth($large) {
      padding-top: 20px;
    }
  }
  &-list {
    @include flexbox(row, center, space-around, 10px);
    @include maxWidth($large) {
      display: block;
      &-item:first-child {
        border-top: unset;
      }
    }
  }
}
// - Menu List Item
.menu-list-item {
  position: relative;
  @include maxWidth($large) {
    position: unset;
    border-top: 1px solid $borderColor;
  }
  @include maxWidth($medium) {
    width: 100%;
    justify-content: space-between;
  }
  &-wrapper {
    @include flexbox(row, center, space-between, null);
    padding-inline: 10px;
    @include maxWidth($large) {
      padding-inline: unset;
      padding-left: 15px;
      cursor: pointer;
    }
  }
  &-link {
    display: block;
    color: #fff;
    padding: 10px;
    @include maxWidth($large) {
      flex: 0 0 auto;
      color: $primaryColor;
      padding: 0px;
      line-height: $heightMenuChildItem;
    }
    @include maxWidth($medium) {
      min-width: fit-content;
    }
    span {
      color: inherit;
      font-size: 20px;
      font-weight: 500;
      transition: opacity linear 0.2s;
      @include maxWidth($large) {
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
  &-icon {
    @include maxWidth($large) {
      flex: 0 1 60px;
      display: inline-block;
      height: $heightMenuChildItem;
      line-height: $heightMenuChildItem;
      text-align: center;
      border-left: 1px solid $borderColor;
    }
  }
  &-arrow {
    color: #fff;
    font-weight: bold;
    transition: transform linear 0.3s;
    @include maxWidth($large) {
      color: $primaryColor;
      transform: rotate(-90deg);
    }
  }
  &:hover {
    .menu {
      &-list {
        &-item {
          &-link span {
            opacity: 0.7;
            @include maxWidth($large) {
              opacity: unset;
            }
          }
          &-arrow {
            transform: rotateX(180deg);
            @include maxWidth($large) {
              transform: rotate(-90deg);
            }
          }
        }
      }
      &-child {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        @include maxWidth($large) {
          opacity: unset;
          visibility: unset;
          transform: unset;
        }
      }
    }
  }
}
// - Menu con
.menu-child {
  width: fit-content;
  min-width: 250px;
  height: auto;
  background-color: #fff;
  border-radius: $border12;
  box-shadow: $shadow;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 900;
  transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  transition: $transition;
  @include maxWidth($large) {
    position: unset;
    box-shadow: unset;
    border: unset;
    opacity: unset;
    visibility: unset;
    transform: unset;
    min-width: unset;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: none;
    transition: all ease 0.5s;
    &-show {
      display: block;
    }
  }
  &::before {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
  }
  &-wrapper {
    width: fit-content;
    min-width: inherit;
    border: 1px solid $borderColor;
    border-radius: $border12;
    @include maxWidth($large) {
      border: unset;
      border-radius: unset;
      max-width: unset;
      width: 100%;
      padding-top: unset;
    }
  }
  &-item {
    @include maxWidth($large) {
      border-top: 1px solid $borderColor;
    }
    &-link {
      @include flexbox(row, center, start, 8px);
      padding-block: 6px;
      padding-left: 20px;
      @include maxWidth($large) {
        line-height: 50px;
        padding-block: unset;
        padding-left: 40px;
      }
      span {
        font-size: 15px;
        font-weight: 400;
        text-wrap: nowrap;
        color: #848484;
        transition: color linear 0.2s;
      }
      &:hover {
        span {
          color: $primaryColor;
        }
      }
    }
    &-icon {
      display: block;
      width: 20px;
      height: 20px;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}

.menu-active {
  background-color: $primaryColor;
  color: #fff;
}

.menu-btn {
  &-close {
    display: none;
    @include maxWidth($large) {
      display: block;
      background-color: #f8f8f8;
      @include square(30px);
      color: #333;
      border-radius: 8px;
      border: 1px solid #eee;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      margin-left: auto;
      margin-right: 20px;
      cursor: pointer;
    }
  }
}

