- 
  var gallery_chai_thuy_tinh_dung_ruou = [
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-1.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-2.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-3.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-4.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-1.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-5.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-2.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-3.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-4.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-5.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",,
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-6.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",,
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-7.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",,
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-8.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",,
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-9.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",,
    },
    {
      image: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-10.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",,
    },
  ];
//- Galley Image Chai thuỷ tinh đựng rượu
.images-gallery-wrapper 
  each item in gallery_chai_thuy_tinh_dung_ruou
    .images-gallery-item 
      img(src=item.image, alt=item.alt, srcset=`${item.image} 2x`)
script(src="../../js/libs/images-gallery.js")