- 
  var galleries = {
    title: "Các mẫu Chai thủy tinh đựng rượu",
    images: [
      {
        href: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-1.jpg",
        alt: "Chai thuỷ tinh đựng rượu chất lượng"
      },
      {
        href: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-2.jpg",
        alt: "Chai thuỷ tinh đựng rượu chất lượng"
      },
      {
        href: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-3.jpg",
        alt: "Chai thuỷ tinh đựng rượu chất lượng"
      },
      {
        href: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-4.jpg",
        alt: "Chai thuỷ tinh đựng rượu chất lượng"
      },
      {
        href: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-5.jpg",
        alt: "Chai thuỷ tinh đựng rượu chất lượng"
      },
      {
        href: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-6.jpg",
        alt: "Chai thuỷ tinh đựng rượu chất lượng"
      },
      {
        href: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-7.jpg",
        alt: "Chai thuỷ tinh đựng rượu chất lượng"
      },
      {
        href: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-8.jpg",
        alt: "Chai thuỷ tinh đựng rượu chất lượng"
      },
      {
        href: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-9.jpg",
        alt: "Chai thuỷ tinh đựng rượu chất lượng"
      },
      {
        href: "../view/element/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-10.jpg",
        alt: "Chai thuỷ tinh đựng rượu chất lượng"
      }
    ]
  }
//- Galley Image Chai thuỷ tinh đựng rượu
h2=galleries.title
.images-gallery-wrapper 
  each item in galleries.images 
    .images-gallery-item 
      img(src=item.href, alt=item.alt, srcset=`${item.href} 2x`)