section.review-and-rating 
  .container 
    h2 Đánh giá của khách hàng 
    .review-and-rating-wrapper 
      .review-wrapper 
        ol.review-list 
          li.review-item 
            .review-item-avatar 
              img(src="../../images/menu-icon/user-avatar.png" alt="Tên khách hàng")
            .review-item-comment
              .review-item-info
                .review-item-info-name 
                  span Minh Lâm 
                .review-item-info-date 
                  span 10/07/2024 lúc 9:26 Chiều
              .review-item-content 
                p Mình vừa đặt in hơn 200 logo thương hiệu lên ly thủy tinh để tặng Khách hàng đến tham gia Event bên Công ty mình, cảm ơn iSOGLASS nhé, bên bạn giao hàng rất nhanh và in logo rất nét.
              .review-item-reply
                a(href="" rel="noopener noreferrer nofollow") Trả lời
      .rating-wrapper 