@use "../../abstracts" as *;
//- CSS cho Sidebar tổng quan
.sidebar {
  &-cta {
    @include flexbox(column, stretch, center, 15px);
  }
  &-zalo {
    background-color: $primaryColor;
    padding: 20px;
    border-radius: $border12;
    img {
      width: 100%;
      object-fit: cover;
    }
    p {
      color: #fff;
      font-weight: 600;
      margin-top: 10px;
      text-align: center;
    }
  }
  &-contact {
    & {
      border-radius: $border12;
      box-shadow: $shadow;
      padding: 20px;
    }
    @include minmax($large, 1120px) {
      gap: 10px;
    }
    @include flexbox(column, stretch, center, 15px);
    a {
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      border-radius: $border6;
      padding: 10px;
      text-align: center;
      transition: all linear 0.2s;
    }
    &-call,
    &-more {
      background-color: $primaryColor;
      color: #fff;
      &:hover {
        background-color: $secondColor;
        color: $primaryColor;
      }
    }
    &-zalo {
      border: 1px solid $primaryColor;
      color: $primaryColor;
      &:hover {
        background-color: $primaryColor;
        color: #fff;
      }
    }
  }
  &-support {
    p {
      color: $textColor;
      font-weight: 700;
      text-align: center;
      line-height: 1.4em;
      padding-inline: 20px;
      margin-bottom: 10px;
      @include minmax($large, 1120px) {
        padding-inline: unset;
      }
    }
    &-avatar {
      & {
        padding-inline: 10px;
      }
      @include flexbox(row, center, center, 8px);
      img {
        width: calc(100% / 3);
        max-width: 90px;
        object-fit: cover;
        border-radius: $border8;
      }
    }
  }
  &-close {
    & {
      border: unset;
      outline: none;
      border-radius: $border4;
      display: none;
      position: absolute;
      top: 10px;
      left: 25px;
      cursor: pointer;
      box-shadow: $shadow2;
    }
    @include square(40px);
    @include maxWidth($large) {
      display: block;
    }
  }
}

.cate-sidebar.sidebar-active {
  transform: translateX(0%);
}
.post-article-sidebar.sidebar-active {
  transform: translateX(0%);
}
