@use "../../abstracts" as *;
.product-featured {
  background-image: url("../../images/hosting/isoglass-background.jpg");
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-block: 40px;
  }
  &-title {
    color: $primaryColor;
    font-size: 22px;
    text-align: center;
  }
  &-image {
    border-radius: $border12;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-usp {
    background-color: #1c212c;
    padding: 25px 30px;
    margin-top: 20px;
    border-radius: $border12;
    p {
      color: #f9f1d9;
      text-align: center;
    }
    &-title {
      margin-bottom: 8px;
    }
    &-sub {
      font-style: italic;
    }
  }
}
