@use "../../abstracts" as *;
.product-featured {
  background-image: url("../../images/hosting/isoglass-background.jpg");
  background-repeat: repeat;
  background-size: cover;
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-block: 40px;
  }
  &-title {
    color: $primaryColor;
    font-size: 22px;
    text-align: center;
  }
  &-image {
    border-radius: $border12;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-button {
    background-color: #1c212c;
    p {
      color: #f9f1d9;
    }
  }
}
