.sidebar-cat
  button.sidebar-open
    i.fa.fa-ellipsis-h(aria-hidden="true")
  .sidebar-scroll
    .sidebar-wrapper
      button.sidebar-close 
        i.fa.fa-close(aria-hidden="true")
        span Đóng
      block sidebarCate
      include ./sidebar-cta.pug