//- Danh mục Blog
include ../mixin/mixins
include ../mixin/categories
include ../mixin/blogs
doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block titlePage  
      title Layout cho trang danh mục bài viết 
    link(rel="shortcut icon" href="../images/logo/favicon-isoglass.png" type="image/x-icon")
    link(rel="stylesheet" href="../vendors/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="../style/main.css")
    link(rel="stylesheet", href="../style/blog.css")
  body 
    include ../layout/header/header.pug
    include ../layout/menu/menu-2.pug
    main.main-wrapper 
      block blogHeading 
      section.blog-title 
        .container 
          block blogTitle  
      article.blog-article 
        h2 Tin tức iSOGLASS 
        block blogMain
    include ./footer/prefooter.pug
    include ./footer/footer.pug
    block scriptJS 
      script(src="../js/menu-2.js")