footer#footer.footer 
  .container 
    .footer-wrapper 
      .footer-column-1 
        .footer-inner-wrapper 
          a.footer-logo(href="/", target="_blank", rel="noopener noreferrer")
            img(src="../images/logo/iSOGLASS-logo-footer.png", alt="Logo footer iSOGLASS sản xuất và cung cấp chai thuỷ tinh và ly thuỷ tinh theo chuẩn iSO", srcset="../images/logo/iSOGLASS-logo-footer.png 2x")
          .footer-info 
            ul.footer-info-list 
              li.footer-info-list-item 
                i.fa.fa-map-marker(aria-hidden="true")
                span Số 26, Đường 12, Khu dân cư Sông Đà, Khu phố 6, Phường Hiệp Bình Chánh, Tp. Thủ Đức, Tp. Hồ Chí Minh
              li.footer-info-list-item 
                i.fa.fa-envelope-o(aria-hidden="true")
                a(href="mailto:sales@isoglass.com.vn" rel="nofollow")
                  span Email: sales@isoglass.com.vn
              li.footer-info-list-item 
                i.fa.fa-fax(aria-hidden="true")
                a(href="tel:0936350570" rel="nofollow")
                  span Điện thoại: 0936 350 570
              li.footer-info-list-item 
                i.fa.fa-phone-square(aria-hidden="true")
                a(href="tel:0936181517" rel="nofollow")
                  span Hotline: 0936 181 517
              li.footer-info-list-item 
                i.fa.fa-qrcode(aria-hidden="true")
                span Mã số thuế: 0315350858
              li.footer-info-list-item 
                i.fa.fa-globe(aria-hidden="true")
                a(href="https://isoglass.com.vn", target="_blank", rel="noopener noreferrer")
                  span Website: isoglass.com.vn
      .footer-column-mid
        .footer-column-2 
          .footer-inner-list
            p.footer-header Danh mục
            ul.footer-info-list 
              each item in ["Chai thuỷ tinh","Ly thuỷ tinh"]
                li.footer-info-list-item 
                  a(href="#", target="_blank", rel="noopener noreferrer")
                    span=item
        .footer-column-3 
          .footer-inner-list
            p.footer-header Về chúng tôi
            ul.footer-info-list 
              each item in ["Giới thiệu","Liên hệ","Hình ảnh nổi bật","Quà tặng","Vỏ hộp"]
                li.footer-info-list-item 
                  a(href="#", target="_blank", rel="noopener noreferrer")
                    span=item
        .footer-column-4 
          .footer-inner-list
            p.footer-header Chính sách
            ul.footer-info-list 
              each item in ["Bảo mật","Bán hàng","Vận chuyển"]
                li.footer-info-list-item 
                  a(href="#", target="_blank", rel="noopener noreferrer nofollow")
                    span=item
      .footer-column-5 
        .footer-inner-wrapper  
          .footer-download 
            button.footer-download-btn(type="button")
              i.fa.fa-arrow-circle-o-down(aria-hidden="true")
            span Download Profile iSOGLASS
          .footer-social 
            p.footer-social-header Theo dõi chúng tôi 
            ul.footer-social-list
              li.footer-social-list-item 
                a(href="", target="_blank", rel="noopener noreferrer nofollow")
                  i.fa.fa-twitter(aria-hidden="true")
              li.footer-social-list-item 
                a(href="", target="_blank", rel="noopener noreferrer nofollow")
                  i.fa.fa-facebook(aria-hidden="true")
              li.footer-social-list-item 
                a(href="", target="_blank", rel="noopener noreferrer nofollow")
                  i.fa.fa-linkedin(aria-hidden="true")
              li.footer-social-list-item 
                a(href="", target="_blank", rel="noopener noreferrer nofollow")
                  i.fa.fa-youtube-play(aria-hidden="true")
              li.footer-social-list-item 
                a(href="", target="_blank", rel="noopener noreferrer nofollow")
                  i.fa.fa-map-marker(aria-hidden="true")
              li.footer-social-list-item 
                a(href="", target="_blank", rel="noopener noreferrer nofollow")
                  i.fa.fa-pinterest-p(aria-hidden="true")
              li.footer-social-list-item 
                a(href="", target="_blank", rel="noopener noreferrer nofollow")
                  i.fa.fa-instagram(aria-hidden="true")
              li.footer-social-list-item 
                a(href="", target="_blank", rel="noopener noreferrer nofollow")
                  i.fa.fa-comment(aria-hidden="true")
          .footer-legal 
            .footer-legal-wrapper 
              p.footer-legal-header Chứng nhận Bộ công thương
              a(href="", target="_blank", rel="noopener noreferrer nofollow")
                img(src="../images/hosting/bo-cong-thuong.jpg", alt="Chứng nhận của Bộ công thương")
  .footer-copy 
    .container 
      p Thiết kế bởi iSOGLASS 2023