include ../mixin/mixin.pug
include ../mixin/mixin-blog.pug
doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title_of_post
    block CSS_for_post  
      link(rel="shortcut icon" href="../images/logo/favicon-isoglass.png" type="image/x-icon")
      link(rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css")
      link(rel="stylesheet" href="../style/main.css")
  body 
    include ./header/header.pug
    include ./menu/menu-2.pug
    .post-title
      block page_title_of_post 
    main.post-main.container 
      .post-main-wrapper 
        article.post-article-content 
          header.post-article-header 
            block main_heading_H1 
            .post-publish_date 
              block post_publish_date 
            .post-overview
              block post_for_overview 
            .post-short_description 
              block short_description 
            figure.post-image 
              block post_thumbnail  
          main.post-article-body
            block post_layout_TOC 
            .post-long_description 
              block long_description 
            .post-company
              block post_company 
            .post-author
              p Phần giới thiệu thông tin tác giả
          footer.post-article-footer 
            p Tham khảo các bài viết cùng chuyên mục
            block post_footer 
            .post-review-rating 
              block post_review_rating
        //- Phần sidebar
        aside.post-article-sidebar 
          include ./sidebar/sidebar.pug
    include ../layout/footer/footer.pug
    block scriptJS 
      script(src="../js/main.js")