include ../mixin/mixin.pug
include ../mixin/mixin-product.pug
include ../mixin/mixin-cate.pug
doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block product_title 
    //- Font Awesome
    link(rel="shortcut icon" href="../images/logo/favicon-isoglass.png" type="image/x-icon")
    link(rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="../style/main.css" type="text/css")
    link(rel="stylesheet" href="../style/modules.css")
    link(rel="stylesheet" href="../style/product.css" type="text/css")
  body 
    include ./header/header.pug
    include ./menu/menu-2.pug
    main.product-main.container
      .product-breadcrumb 
        block product_breadcrumb 
      .product-article 
        .product-header
          .product-infomation 
            block product_H1
            .product-rating 
              block product_rating 
            block product_infomation 
              .product-meta 
                span.product-text Ngày đăng:
                  time(datetime=`${info.date}`)=info.textdate
                span.product-text Danh mục:
                  each link in info.cate 
                    a.product-cate(href=`${link.href}` title=`${link.name}`)=link.name
              .product-viewed 
                span.product-text #{info.view} Khách hàng đang đem sản phẩm này!
              .product-shor_description Đánh giá: 
                p=info.sapo 
            .product-order  
              a(href="https://zalo.me/0963181517" target="_blank" rel="noopener noreferrer nofollow") Liên hệ ngay
            .product-share 
              .product-share-text Chia sẻ:
              ul.product-share-social
                each item in ["facebook", "twitter", "pinterest", "linkedin", "telegram"]
                  li.product-share-social-item
                    a(class="product-share-"+item, href="#" target="_blank" rel="noopener noreferrer nofollow")
                      i(class="fa fa-"+item, aria-hidden="true")
          .product-gallery
            block product_gallery 
        .product-body 
          .product-layout
            article.product-details_info 
              .product-table 
                block product_table
              .product-long_description 
                block product_long_description  
            aside.product-sidebar
              include ./sidebar/sidebar.pug
      section.product-banner
        .product-banner-image
          img(src="../../images/hosting/ly-thuy-tinh-gia-tot-tai-tphcm.jpg" alt="Sản xuất chai thủy tinh và ly thủy tinh giá tốt tại TP.HCM" srcset="../../images/hosting/ly-thuy-tinh-gia-tot-tai-tphcm.jpg 2x")
          .product-banner-content 
            p.product-banner-subtitle Công ty TNHH Sản xuất Thương mại
            h3.product-banner-title iSOGLASS
            p.product-banner-desc Sản xuất và cung cấp Chai thuỷ tinh và Ly thuỷ tinh chuẩn chất lượng ISO
            a.product-banner-button(href="./gioi-thieu.html" target="_blank" rel="noopener noreferrer nofollow") Xem thêm
    section.product-tab-info 
      .container 
        .product-tab-wrapper 
        .product-tab-head 
          .product-tab-list.product-tab-active(data-tab="1") 
            span Đóng gói 
          .product-tab-list(data-tab="2") 
            span Vận chuyển 
          .product-tab-list(data-tab="3") 
            span Tư vấn 
        .product-tab-body 
          .product-tab-content.product-tab-active(data-tab="1")
            p Quy trình đóng gói tại iSOGLASS vô cùng nghiêm nghặc, chúng tôi kiểm tra tới từng gói hàng đều phải được bao bọc kỹ lưỡng, chắc chắn.
          .product-tab-content(data-tab="2")
            p Vận chuyển theo 3 đường: đường bộ, đường thủy và đường hàng không. Tất cả đều được bộ phận quản lý kho hàng và vận chuyển iSOGLASS lo liệu.
          .product-tab-content(data-tab="3")
            p Đội ngũ tư vấn viên tại iSOGLASS cực kì nhiệt tình và hỗ trợ tối đa theo yêu cầu của khách hàng.
    section.product-featured 
      .container 
        - var product_featured = [{image:"../../images/hosting/tinh-hien-dai-cua-isoglass.jpg",title:"MODERN",subtitle:"Hiện đại",},{image:"../../images/hosting/tinh-thanh-lich-cua-isoglass.jpg",title:"ELEGANT",subtitle:"Thanh lịch",},{image:"../../images/hosting/tinh-tinh-xao-cua-isoglass.jpg",title:"SOPHISTICATED",subtitle:"Tinh xảo"}];
          +productFeatured(product_featured)
    section.product-seen 
      .container 
        block product_seen 
    include ./footer/prefooter.pug
    include ./footer/footer.pug
    block JavaScript 
      script(src="../js/main.js")
      script(src="../../modules/notification/noti.js")
      script(src="../../modules/gallery/gallery.js")