include ../mixin/mixin.pug
include ../mixin/mixin-cate.pug
include ../mixin/mixin-product.pug
doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title_of_category
      title Tiêu đề chính cho trang danh mục
    block owlCarousel
      - var useOwlCarousel = true ;
      if useOwlCarousel
        link(rel="stylesheet" href="../vendor/owl-carousel/css/owl.carousel.min.css")
        link(rel="stylesheet" href="../vendor/owl-carousel/css/owl.theme.default.min.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="../vendor/owl-carousel/js/owl.carousel.js")
    block CSS_for_categories 
      link(rel="shortcut icon" href="../images/logo/favicon-isoglass.png" type="image/x-icon")
      link(rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css")
      link(rel="stylesheet" href="../style/main.css")
  body 
    //- - Header & Menu
    include ./header/header.pug
    include ./menu/menu-2.pug
    //- ! Banner Slideshow cho Danh mục cha
    block section_banner_slideshow
    //- ! Page title cho danh mục con
    block section_page_title_for_child_categories
    //- - Main Body
    main.cate-main
      .container
        //- Breadcrumb
        .cate-breadcrumb
          block breadcrumb_for_each_categories
        //- H1
        .cate-heading
          block category_h1
        //- Đánh giá
        .cate-rating 
          block rating_of_categories 
        //- Short Description
        .cate-short_description
          block short_description 
        //- Section tùy chỉnh cho từng trang danh mục cha/con (nếu có)
        section.cate-group
          //- Section các danh mục con (nếu có)
          block child_categories_of_main_categories
        //- Phần bài viết dài
        .cate-article 
          article.cate-article-content
            //- Section các sản phẩm trong danh mục
            section.cate-product
              block products_of_category
            .cate-long_description
              block article_long_description
          //- Phần Sidebar
          aside.cate-sidebar
            include ./sidebar/sidebar.pug
      //- Section tùy chỉnh
      block section_custom_for_each_categories 
      //- Section Answer The Question
      section.cate-support 
        .container 
          block answer_the_question_for_each_categories 
      include ../element/common/review-and-rating.pug
    //- Footer
    block footer 
      include ./footer/prefooter.pug
      include ./footer/footer.pug
  block scriptJS
    script(src="../js/main.js")
    script(src="../../modules/notification/noti.js")
