include ../mixin/mixin.pug
include ../mixin/mixin-product.pug
include ../mixin/mixin-cate.pug
doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block product_title 
    //- Font Awesome
    link(rel="shortcut icon" href="../images/logo/favicon-isoglass.png" type="image/x-icon")
    link(rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="../style/main.css" type="text/css")
    link(rel="stylesheet" href="../style/product.css" type="text/css")
  body 
    include ./header/header.pug
    include ./menu/menu-2.pug
    main.product-main.container
      .product-breadcrumb 
        block product_breadcrumb 
      .product-article 
        .product-header
          .product-infomation 
            block product_H1
            p.product-meta 
              span.product-text Ngày đăng:
                time(datetime="2024-11-27") 27 Th05 2024
              span.product-text Danh mục:
                a(href="./chai-thuy-tinh.html" title="Chai thuỷ tinh") Chai thuỷ tinh,
                a(href="./chai-thuy-tinh-dung-ruou.html" rel="noopener noreferrer" title="Chai thuỷ tinh đựng rượu") Chai thuỷ tinh đựng rượu
            p.product-viewed 
              span.product-text 99 Khách hàng đang đem sản phẩm này !
            .product-shor_description Đánh giá: 
              p Chai đựng rượu 750ml nắp gia công iSOGLASS là sản phẩm thủy tinh cao cấp, được thiết kế đẹp mắt, in hoa văn và logo theo yêu cầu khách hàng. Liên hệ: info@isoglass.com.vn hoặc hotline: 0963 181 517.
            p.product-contact 
              a(href="https://zalo.me/0963181517" target="_blank" rel="noopener noreferrer nofollow") Liên hệ ngay
            .product-share 
              p.product-share-text Chia sẻ:
              ul.product-share-social
                li.product-share-social-item
                  a.product-share-facebook(href="#" target="_blank" rel="noopener noreferrer nofollow")
                    i.fa.fa-facebook-f(aria-hidden="true")
                li.product-share-social-item
                  a.product-share-twitter(href="#" target="_blank" rel="noopener noreferrer nofollow") 
                    i.fa.fa-twitter(aria-hidden="true")
                li.product-share-social-item
                  a.product-share-pinterest(href="#" target="_blank" rel="noopener noreferrer nofollow") 
                    i.fa.fa-pinterest-p(aria-hidden="true")
                li.product-share-social-item
                  a.product-share-linkedin(href="#" target="_blank" rel="noopener noreferrer nofollow") 
                    i.fa.fa-linkedin(aria-hidden="true")
                li.product-share-social-item
                  a.product-share-telegram(href="#" target="_blank" rel="noopener noreferrer nofollow") 
                    i.fa.fa-telegram(aria-hidden="true")
          .product-gallery
            block product_gallery 
        .product-body 
          .product-layout
            article.product-details_info 
              .product-table 
                block product_table
              .product-long_description 
                block product_long_description  
            aside.product-sidebar
              include ./sidebar/sidebar.pug
      section.product-banner
        .product-banner-image
          img(src="../../images/hosting/ly-thuy-tinh-gia-tot-tai-tphcm.jpg" alt="Sản xuất chai thủy tinh và ly thủy tinh giá tốt tại TP.HCM" srcset="../../images/hosting/ly-thuy-tinh-gia-tot-tai-tphcm.jpg 2x")
          .product-banner-content 
            p.product-banner-subtitle Công ty TNHH Sản xuất Thương mại
            h3.product-banner-title iSOGLASS
            p.product-banner-desc Sản xuất và cung cấp Chai thuỷ tinh và Ly thuỷ tinh chuẩn chất lượng ISO
            a.product-banner-button(href="./gioi-thieu.html" target="_blank" rel="noopener noreferrer nofollow") Xem thêm
    section.product-tab-info 
      .container 
        .product-tab-wrapper 
          .product-tab-head 
            .product-tab-list.product-tab-active(data-tab="1") 
              span Đóng gói 
            .product-tab-list(data-tab="2") 
              span Vận chuyển 
            .product-tab-list(data-tab="3") 
              span Tư vấn 
          .product-tab-body 
            .product-tab-content.product-tab-active(data-tab="1")
              p Đây là content số 
                strong 1 
                | nha các bạn
            .product-tab-content(data-tab="2")
              p Hôm nay là thứ mấy chắc chắn là thứ 
                strong 2
            .product-tab-content(data-tab="3")
              p Tình yêu không có lỗi, lỗi tại kẻ thứ 
                strong 3
    section.product-featured 
      .container 
        - var product_featured = [{image:"../../images/hosting/tinh-hien-dai-cua-isoglass.jpg",title:"MODERN",subtitle:"Hiện đại",},{image:"../../images/hosting/tinh-thanh-lich-cua-isoglass.jpg",title:"ELEGANT",subtitle:"Thanh lịch",},{image:"../../images/hosting/tinh-tinh-xao-cua-isoglass.jpg",title:"SOPHISTICATED",subtitle:"Tinh xảo"}];
          +productFeatured(product_featured)
    section.product-seen 
      .container 
        block product_seen 
    include ./footer/prefooter.pug
    include ./footer/footer.pug
    block JavaScript 
      script(src="../js/main.js")