//- Layout tổng
include ../mixin/mixins
include ../mixin/products
include ../mixin/categories
doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block titlePage 
      title iSOGLASS sản xuất và cung cấp thủy tinh đạt chuẩn iSO tại Việt Nam 
    //- Favicon
    link(rel="shortcut icon" href="../images/logo/favicon-isoglass.png" type="image/x-icon")
    //- Font Awesome
    link(rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css")
    //- Owl Carousel
    block owlCarousel
      - var useOwlCarousel = true ;
      if useOwlCarousel
        link(rel="stylesheet" href="../vendor/owl-carousel/css/owl.carousel.min.css")
        link(rel="stylesheet" href="../vendor/owl-carousel/css/owl.theme.default.min.css")
    block styleSheet
      link(rel="stylesheet" href="../style/main.css")
      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
      script(src="../vendor/owl-carousel/js/owl.carousel.js")
  body 
    include ./header/header
    include ./menu/menu-2
    block main
    include ./footer/prefooter
    include ./footer/footer
  block modules 
  block menuScript 
    script(src="../js/main.js") 
