doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block titleCategory
      title Ly thuỷ tinh
    link(rel="stylesheet", href="style.css")
  body 