//- Layout danh mục sản phẩm chính
include ../mixin/mixins.pug
include ../mixin/categories.pug
include ../mixin/products.pug
doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block titleCategory
      title Layout chính cho Menu chính trong Danh mục sản phẩm
    block owlCarousel
      - var useOwlCarousel = true ;
      if useOwlCarousel
        link(rel="stylesheet" href="../vendor/owl-carousel/css/owl.carousel.min.css")
        link(rel="stylesheet" href="../vendor/owl-carousel/css/owl.theme.default.min.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="../vendor/owl-carousel/js/owl.carousel.js")
    block stylesheet
      link(rel="shortcut icon" href="../images/logo/favicon-isoglass.png" type="image/x-icon")
      link(rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css")
      link(rel="stylesheet" href="../style/main.css")
      link(rel="stylesheet" href="../style/main-cat.css")
  body 
    include ./header/header.pug
    include ./menu/menu-2.pug
    main.main-wrapper
      block slideshow 
      .container 
        .main-cat-breadcrumb
          ul.breadcrumb-list 
            li.breadcrumb-item 
              a(href="/") Trang chủ
            li.breadcrumb-item 
              a(href="./chai-thuy-tinh.html") Chai thủy tinh 
        .main-cat-heading
          block H1category 
        .main-cat-rating 
          span Đánh giá:
          .main-cat-rating-star 
            i.fa.fa-star(aria-hidden="true")
            i.fa.fa-star(aria-hidden="true")
            i.fa.fa-star(aria-hidden="true")
            i.fa.fa-star(aria-hidden="true")
            i.fa.fa-star(aria-hidden="true")
        .main-cat-short_description
          block sapo
        section.main-cat-categories
          block categoryProduct 
        .main-cat-wrapper
          article.main-cat-content
            section.main-cat-product
              block productsList 
            .main-cat-long_description
              block article
          aside.main-cat-sidebar
            include ./sidebar/sidebar-cat.pug
      block moreSection
      section.main-cat-support 
        .container 
          block answerTheQuestion 
      include ../section/common/review-and-rating.pug
    block footer 
      include ./footer/prefooter.pug
      include ./footer/footer.pug
  block scriptJS
    script(src="../js/main.js")
    script(src="../js/main-cat.js")
