//- Layout bài viết
include ../mixin/mixins.pug
include ../mixin/categories.pug
include ../mixin/blogs.pug
doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block titlePage 
      title Layout bài viết chuẩn SEO 
    block stylesheet 
      link(rel="shortcut icon" href="../images/logo/favicon-isoglass.png" type="image/x-icon")
      link(rel="stylesheet" href="../vendors/font-awesome/css/font-awesome.min.css")
      link(rel="stylesheet" href="../style/main.css")
      link(rel="stylesheet", href="../style/post.css")
  body 
    include ../layout/header/header.pug
    include ../layout/menu/menu-2.pug
    +secTitleBase("Tin tức tổng hợp iSOGLASS", "../../images/hosting/background-title-blog.jpg")
    main.main-post 
      .container.main-post-wrapper 
        article.post-main 
          header.post-header 
            block h1 
              h1 tiêu đề chính h1 
            .post-date-update 
              block postDate 
            .post-overview
              .post-rating
                span Đánh giá:
                .post-rating-star
                  a(href="http://" title="poor")
                    i.fa.fa-star(aria-hidden="true")
                  a(href="http://" title="average")
                    i.fa.fa-star(aria-hidden="true")
                  a(href="http://" title="good")
                    i.fa.fa-star(aria-hidden="true")
                  a(href="http://" title="very good")
                    i.fa.fa-star(aria-hidden="true")
                  a(href="http://" title="excellent")
                    i.fa.fa-star(aria-hidden="true")
              .post-comment 
                i.fa.fa-comment-o(aria-hidden="true")
                block postReview 
              .post-viewed
                i.fa.fa-eye(aria-hidden="true")
                block postView 
            .post-short-desc
              block sapo 
                p đoạn mô tả ngắn
            figure.post-image 
              block imageThumbnail 
                img(src="", alt="")
                figcaption
          main.post-content 
            .post-layout 
              p Mục lục bài viết 
              ol(type="1").post-layout-list 
                li 
                  a(href="#") Điểm chính 1
                  ul.post-layout-list-child 
                    li 
                      a(href="#") Tiêu điểm con 2
                    li 
                      a(href="#") Tiêu điểm con 2
                    li 
                      a(href="#") Tiêu điểm con 2
                li 
                  a(href="#") Điểm chính 2
                li 
                  a(href="#") Điểm chính 3
            .post-extra-desc 
              block extraDescription
          .post-company
            p Phần này là thông tin công ty
          .post-author
            p Phần giới thiệu thông tin tác giả
          footer.post-footer 
            p Tham khảo các bài viết cùng chuyên mục
            block postFooter 
        .post-review-rating 
          p phần này là section bình luận bài viết
        aside.post-sidebar 
          button.post-sidebar-open 
            i.fa.fa-ellipsis-h(aria-hidden="true")
          button.post-sidebar-close 
            i.fa.fa-close(aria-hidden="true")
            span Đóng
          .post-sidebar-wrapper 
            include ./sidebar/sidebar-post.pug
            include ./sidebar/sidebar.pug
    include ../layout/footer/footer.pug
    block scriptJS 
      script(src="../js/menu-2.js")