aside.sidebar 
  button.sidebar-close 
    i.fa.fa-close(aria-hidden="true")
  .sidebar-zalo 
    img(src="../../images/hosting/qr-code-isoglass.jpg", alt="Liên hệ báo giá qua Zalo", srcset="../../images/hosting/qr-code-isoglass.jpg 2x")
    p Chat nhanh qua Zalo 
  .sidebar-contact 
    a.sidebar-contact-call(href="tel:0963181517", target="_blank", rel="noopener noreferrer nofollow") Gọi: 0963 181 517
    a.sidebar-contact-zalo(href="https://zalo.me/0963181517", target="_blank", rel="noopener noreferrer nofollow") Nhận báo giá
    a.sidebar-contact-more(href="#", target="_blank", rel="noopener noreferrer nofollow") Hình ảnh nổi bật
    .sidebar-support 
      p Chuyên viên tư vấn sẵn sàng hỗ trợ
      .sidebar-support-avatar
        img(src="../../images/team-member/nhan-vien-tu-van-isogift-1.jpg", alt="Nhân viên hỗ trợ iSOGLASS")
        img(src="../../images/team-member/nhan-vien-tu-van-isogift-2.jpg", alt="Nhân viên hỗ trợ iSOGLASS")
        img(src="../../images/team-member/nhan-vien-tu-van-isogift-3.jpg", alt="Nhân viên hỗ trợ iSOGLASS")