//- Layout Danh mục sản phẩm phụ
include ../mixin/mixins.pug
include ../mixin/categories.pug
include ../mixin/products.pug
doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block titleCategory
      title Layout Danh mục CON cho các trang danh mục
    block stylesheet
      link(rel="shortcut icon" href="../images/logo/favicon-isoglass.png" type="image/x-icon")
      link(rel="stylesheet" href="../vendors/font-awesome/css/font-awesome.min.css")
      link(rel="stylesheet" href="../style/main.css")
      link(rel="stylesheet" href="../style/sub-cate.css")
  body 
    include ./header/header.pug
    include ./menu/menu-2.pug
    include ./child-title.pug
    .container
      .cate-child-breadcrumb
        ul
          li Trang chủ 
          li Chai thủy tinh 
          li Chai thuỷ tinh đựng rượu
      .cate-child-title 
        block cateChildTitle 
      .cate-child-rating 
        span Đánh giá:
        .cate-child-rating-star 
          i.fa.fa-star(aria-hidden="true")
          i.fa.fa-star(aria-hidden="true")
          i.fa.fa-star(aria-hidden="true")
          i.fa.fa-star(aria-hidden="true")
          i.fa.fa-star(aria-hidden="true")
      .cate-child-short-description
        block shortDescription 
      .cate-child-gallery-images
        block galleryImage 
      main.cate-child-main 
        article.cate-child-main-content 
          .cate-child-product
            h2.cate-child-product-title 
              block cateChildProductsHeader2 
            .cate-child-product
              block cateChildProducts 
          .cate-child-extra-description
            block cateChildExtraDescription 
        aside.cate-child-main-sidebar 
          button.cate-child-main-sidebar-close 
            i.fa.fa-close(aria-hidden="true")
            span Đóng
          button.cate-child-main-sidebar-open
            i.fa.fa-ellipsis-h(aria-hidden="true")
          include ./sidebar/sidebar.pug
    include ./footer/prefooter.pug
    include ./footer/footer.pug
  block scriptJS
    script(src="../js/menu-2.js")
    script(src="../js/sub-categories.js") 