- 
  var gallery_chai_thuy_tinh_dung_ruou = [
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-1.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 1,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-2.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 2,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-3.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 3,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/chai-thuy-tinh-dung-ruou-4.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 4,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-1.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 5,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-1.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 6,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-2.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 7,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-3.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 8,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-4.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 9,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-5.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 10,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-6.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 11,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-7.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 12,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-8.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 13,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-9.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 14,
    },
    {
      image: "../view/section/sub-cate/chai-thuy-tinh-dung-ruou/images/thiet-ke-chai-thuy-tinh-dung-ruou-10.jpg",
      alt: "Chai thuỷ tinh đựng rượu chất lượng",
      index: 15,
    },
  ]
//- Galley Image Chai thuỷ tinh đựng rượu
.images-gallery-wrapper 
  each item in gallery_chai_thuy_tinh_dung_ruou
    .images-gallery-item 
      img(src=item.image, alt=item.alt, srcset=`${item.image} 2x`)
script(src="../../js/libs/images-gallery.js") 