- 
  var sidebar_chai_thuy_tinh = {
    heading: "Phân loại chai thủy tinh",
    items: [
      {
        name: "Bộ bình ly thuỷ tinh",
        link: "#",
        image: "../../images/chai-thuy-tinh/bo-binh-ly-thuy-tinh.jpg",
        title: "Bộ bình ly thủy tinh - giá tốt tại TP.HCM",
      },
      {
        name: "Chai thuỷ tinh đựng nước",
        link: "#",
        image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-nuoc-san-xuat-tai-tp-hcm.jpg",
        title: "Chai thuỷ tinh đựng nước - giá tốt tại TP.HCM"
      },
      {
        name: "Chai thuỷ tinh đựng rượu",
        link: "#",
        image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou-gia-tot-tai-tp-hcm.jpg",
        title: "Chai thuỷ tinh đựng rượu - giá tốt tại TP.HCM",
      },
      {
        name: "Chai thuỷ tinh 500ml",
        link: "#",
        image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou-gia-tot-tai-tp-hcm.jpg",
        title: "Chai thuỷ tinh 500ml sản xuất tại TP.HCM",
      },
    ]
  }
//- - Sidebar dành cho chai thuỷ tinh
+sidebar4cate(sidebar_chai_thuy_tinh)