- 
  var ctt_breadcrumb = [
    {
      name: "Trang chủ",
      href: "/"
    },
    {
      name: "Chai thủy tinh",
      href: "./chai-thuy-tinh.html"
    }
  ];
//- - Breadcrumb cho Chai thủy tinh
+breadcrumbForEachPage(ctt_breadcrumb)