- 
  var ctt_breadcrumb = {
    rating: [1,2,3,4],
    breadcrumb: [
      {
        name: "Trang chủ",
        href: "/"
      },
      {
        name: "Chai thủy tinh",
        href: "./chai-thuy-tinh.html"
      }
    ]
  };
//- - Breadcrumb cho Chai thủy tinh
+breadcrumbForEachPage(ctt_breadcrumb)