- 
  var blog_tin_tuc_isoglass = [
    {
      image: "../../../images/chai-thuy-tinh/chai-thuy-tinh-de-nui-doc-la-dung-ruou-size-500ml-iso-25.jpg",
      href: "#",
      author: "Minh Châu",
      cate: "Tin tức tổng hợp",
      date: "31 tháng 8 2021",
      title: "Các bước khởi nghiệp ngành nghề kinh doanh đồ uống",
      shortDesc: "Ngành kinh doanh đồ uống đang phát triển mạnh mẽ trong thị trường hiện nay, với sự đa dạng về sản phẩm và dịch vụ. Đây là một ngành nghề mang lại nhiều tiềm năng và cơ hội cho những ai muốn khởi nghiệp. Tuy nhiên, để thành công trong lĩnh vực này cần phải biết Các bước khởi nghiệp ngành nghề kinh doanh đồ uống, việc lựa chọn loại ly thủy tinh, chai bình thủy tinh phù hợp là một yếu tố quan trọng không thể bỏ qua cho ngành này.",
      cmtCount: 8,
    },
    {
      image: "../../../images/chai-thuy-tinh/chai-thuy-tinh-dung-nuoc-co-nap-cai-size-500ml-iso-07.jpg",
      href: "#",
      author: "Minh Châu",
      cate: "Tin tức tổng hợp",
      date: "31 tháng 8 2021",
      title: "Các bước khởi nghiệp ngành nghề kinh doanh đồ uống",
      shortDesc: "Ngành kinh doanh đồ uống đang phát triển mạnh mẽ trong thị trường hiện nay, với sự đa dạng về sản phẩm và dịch vụ. Đây là một ngành nghề mang lại nhiều tiềm năng và cơ hội cho những ai muốn khởi nghiệp. Tuy nhiên, để thành công trong lĩnh vực này cần phải biết Các bước khởi nghiệp ngành nghề kinh doanh đồ uống, việc lựa chọn loại ly thủy tinh, chai bình thủy tinh phù hợp là một yếu tố quan trọng không thể bỏ qua cho ngành này.",
      cmtCount: 8,
    },
    {
      image: "../../../images/chai-thuy-tinh/chai-thuy-tinh-gia-tot-san-xuat-tai-tphcm-02.jpg",
      href: "#",
      author: "Minh Châu",
      cate: "Tin tức tổng hợp",
      date: "31 tháng 8 2021",
      title: "Các bước khởi nghiệp ngành nghề kinh doanh đồ uống",
      shortDesc: "Ngành kinh doanh đồ uống đang phát triển mạnh mẽ trong thị trường hiện nay, với sự đa dạng về sản phẩm và dịch vụ. Đây là một ngành nghề mang lại nhiều tiềm năng và cơ hội cho những ai muốn khởi nghiệp. Tuy nhiên, để thành công trong lĩnh vực này cần phải biết Các bước khởi nghiệp ngành nghề kinh doanh đồ uống, việc lựa chọn loại ly thủy tinh, chai bình thủy tinh phù hợp là một yếu tố quan trọng không thể bỏ qua cho ngành này.",
      cmtCount: 8,
    },
    {
      image: "../../../images/chai-thuy-tinh/chai-thuy-tinh-than-tru-tron-dung-ruou-size-750ml-iso-46.jpg",
      href: "#",
      author: "Minh Châu",
      cate: "Tin tức tổng hợp",
      date: "31 tháng 8 2021",
      title: "Các bước khởi nghiệp ngành nghề kinh doanh đồ uống",
      shortDesc: "Ngành kinh doanh đồ uống đang phát triển mạnh mẽ trong thị trường hiện nay, với sự đa dạng về sản phẩm và dịch vụ. Đây là một ngành nghề mang lại nhiều tiềm năng và cơ hội cho những ai muốn khởi nghiệp. Tuy nhiên, để thành công trong lĩnh vực này cần phải biết Các bước khởi nghiệp ngành nghề kinh doanh đồ uống, việc lựa chọn loại ly thủy tinh, chai bình thủy tinh phù hợp là một yếu tố quan trọng không thể bỏ qua cho ngành này.",
      cmtCount: 8,
    },
    {
      image: "../../../images/chai-thuy-tinh/chai-thuy-tinh-than-vuong-nap-con-dung-ruou-size-500ml-iso-32.jpg",
      href: "#",
      author: "Minh Châu",
      cate: "Tin tức tổng hợp",
      date: "31 tháng 8 2021",
      title: "Các bước khởi nghiệp ngành nghề kinh doanh đồ uống",
      shortDesc: "Ngành kinh doanh đồ uống đang phát triển mạnh mẽ trong thị trường hiện nay, với sự đa dạng về sản phẩm và dịch vụ. Đây là một ngành nghề mang lại nhiều tiềm năng và cơ hội cho những ai muốn khởi nghiệp. Tuy nhiên, để thành công trong lĩnh vực này cần phải biết Các bước khởi nghiệp ngành nghề kinh doanh đồ uống, việc lựa chọn loại ly thủy tinh, chai bình thủy tinh phù hợp là một yếu tố quan trọng không thể bỏ qua cho ngành này.",
      cmtCount: 8,
    },
    {
      image: "../../../images/chai-thuy-tinh/chai-thuy-tinh-dung-ruou-gia-tot-tai-tp-hcm.jpg",
      href: "#",
      author: "Minh Châu",
      cate: "Tin tức tổng hợp",
      date: "31 tháng 8 2021",
      title: "Các bước khởi nghiệp ngành nghề kinh doanh đồ uống",
      shortDesc: "Ngành kinh doanh đồ uống đang phát triển mạnh mẽ trong thị trường hiện nay, với sự đa dạng về sản phẩm và dịch vụ. Đây là một ngành nghề mang lại nhiều tiềm năng và cơ hội cho những ai muốn khởi nghiệp. Tuy nhiên, để thành công trong lĩnh vực này cần phải biết Các bước khởi nghiệp ngành nghề kinh doanh đồ uống, việc lựa chọn loại ly thủy tinh, chai bình thủy tinh phù hợp là một yếu tố quan trọng không thể bỏ qua cho ngành này.",
      cmtCount: 8,
    },
    {
      image: "../../../images/chai-thuy-tinh/chai-thuy-tinh-than-tru-vuong-dung-ruou-size-750ml-iso-45.jpg",
      href: "#",
      author: "Minh Châu",
      cate: "Tin tức tổng hợp",
      date: "31 tháng 8 2021",
      title: "Các bước khởi nghiệp ngành nghề kinh doanh đồ uống",
      shortDesc: "Ngành kinh doanh đồ uống đang phát triển mạnh mẽ trong thị trường hiện nay, với sự đa dạng về sản phẩm và dịch vụ. Đây là một ngành nghề mang lại nhiều tiềm năng và cơ hội cho những ai muốn khởi nghiệp. Tuy nhiên, để thành công trong lĩnh vực này cần phải biết Các bước khởi nghiệp ngành nghề kinh doanh đồ uống, việc lựa chọn loại ly thủy tinh, chai bình thủy tinh phù hợp là một yếu tố quan trọng không thể bỏ qua cho ngành này.",
      cmtCount: 8,
    },
    {
      image: "../../../images/chai-thuy-tinh/chai-thuy-tinh-dung-nuoc-khoang-co-nap-cai-size-1000ml-iso-13.jpg",
      href: "#",
      author: "Minh Châu",
      cate: "Tin tức tổng hợp",
      date: "31 tháng 8 2021",
      title: "Các bước khởi nghiệp ngành nghề kinh doanh đồ uống",
      shortDesc: "Ngành kinh doanh đồ uống đang phát triển mạnh mẽ trong thị trường hiện nay, với sự đa dạng về sản phẩm và dịch vụ. Đây là một ngành nghề mang lại nhiều tiềm năng và cơ hội cho những ai muốn khởi nghiệp. Tuy nhiên, để thành công trong lĩnh vực này cần phải biết Các bước khởi nghiệp ngành nghề kinh doanh đồ uống, việc lựa chọn loại ly thủy tinh, chai bình thủy tinh phù hợp là một yếu tố quan trọng không thể bỏ qua cho ngành này.",
      cmtCount: 8,
    },
    {
      image: "../../../images/chai-thuy-tinh/chai-thuy-tinh-gia-tot-san-xuat-tai-tphcm-02.jpg",
      href: "#",
      author: "Minh Châu",
      cate: "Tin tức tổng hợp",
      date: "31 tháng 8 2021",
      title: "Các bước khởi nghiệp ngành nghề kinh doanh đồ uống",
      shortDesc: "Ngành kinh doanh đồ uống đang phát triển mạnh mẽ trong thị trường hiện nay, với sự đa dạng về sản phẩm và dịch vụ. Đây là một ngành nghề mang lại nhiều tiềm năng và cơ hội cho những ai muốn khởi nghiệp. Tuy nhiên, để thành công trong lĩnh vực này cần phải biết Các bước khởi nghiệp ngành nghề kinh doanh đồ uống, việc lựa chọn loại ly thủy tinh, chai bình thủy tinh phù hợp là một yếu tố quan trọng không thể bỏ qua cho ngành này.",
      cmtCount: 8,
    },
    {
      image: "../../../images/chai-thuy-tinh/chai-thuy-tinh-dung-nuoc-san-xuat-tai-tp-hcm.jpg",
      href: "#",
      author: "Minh Châu",
      cate: "Tin tức tổng hợp",
      date: "31 tháng 8 2021",
      title: "Các bước khởi nghiệp ngành nghề kinh doanh đồ uống",
      shortDesc: "Ngành kinh doanh đồ uống đang phát triển mạnh mẽ trong thị trường hiện nay, với sự đa dạng về sản phẩm và dịch vụ. Đây là một ngành nghề mang lại nhiều tiềm năng và cơ hội cho những ai muốn khởi nghiệp. Tuy nhiên, để thành công trong lĩnh vực này cần phải biết Các bước khởi nghiệp ngành nghề kinh doanh đồ uống, việc lựa chọn loại ly thủy tinh, chai bình thủy tinh phù hợp là một yếu tố quan trọng không thể bỏ qua cho ngành này.",
      cmtCount: 8,
    },
  ]
//- HTML Thuần
.blog-wrapper 
  each item in blog_tin_tuc_isoglass
    +blogDefautl(item.image, item.href, item.author, item.cate, item.date, item.title, item.shortDesc, item.cmtCount)