- 
  var chai_thuy_tinh_product = [
    {
      title: "Chai thuỷ tinh thân vuông nắp côn đựng rượu size 500ml iSO-32",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-than-vuong-nap-con-dung-ruou-size-500ml-iso-32.jpg",
      href: "#",
    },
    {
      title: "Chai thuỷ tinh đế núi độc lạ đựng rượu size 500ml iSO-25",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-de-nui-doc-la-dung-ruou-size-500ml-iso-25.jpg",
      href: "#",
    },
    {
      title: "Chai thuỷ tinh đựng nước khoáng có nắp cài size 1000ml iSO-13",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-nuoc-khoang-co-nap-cai-size-1000ml-iso-13.jpg",
      href: "#",
    },
    {
      title: "Chai thuỷ tinh thân trụ vuông đựng rượu size 750ml iSO-45",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-than-tru-vuong-dung-ruou-size-750ml-iso-45.jpg",
      href: "#",
    },
    {
      title: "Chai thuỷ tinh thân trụ tròn đựng rượu size 750ml iSO-46",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-than-tru-tron-dung-ruou-size-750ml-iso-46.jpg",
      href: "#",
    },
    {
      title: "Chai thuỷ tinh đựng nước có nắp cài size 500ml iSO-07",
      image: "../../images/chai-thuy-tinh/chai-thuy-tinh-dung-nuoc-co-nap-cai-size-500ml-iso-07.jpg",
      href: "#",
    }
  ]

section.product-chai-thuy-tinh
  .product-wrapper 
    each item in chai_thuy_tinh_product
      +productStyle01(item.href, item.image, item.title)